

<footer class="bg-primary text-white links-white pb-4 footer-1">
  <div class="container">
    <div class="row">
      <div class="col-xl-auto mr-xl-5 col-sm-12 mb-4 mb-md-0">
        <h5 class="text-white">Mach mit!</h5>
        <ul class="nav flex-column">
          <li class="nav-item mr-3 mr-md-0 d-block">
            <span class="nav-link fade-page px-0 py-2" >
            Hilf mit, die Plattform zu verbessern: <a href="https://gitlab.com/it-hub-braunschweig" target="_blank" title="Besuch unser Gitlab-Repo">Gitlab-Repo</a>
              </span>
          </li>
          <li class="nav-item mr-3 mr-md-0 d-block">
            <a class="nav-link fade-page px-0 py-2" href="https://twitter.com/ithubbs" target="_blank" title="Besuch uns auf Twitter">Twittere!</a>
          </li>
          <li class="nav-item mr-3 mr-md-0 d-block">
            <a class="nav-link fade-page px-0 py-2" href="assets/atom/atom.atom" target="_blank" title="Rufe den Atom-Feed für alle Events auf">Atom-Feed alle Events</a>
          </li>
          <li class="nav-item mr-3 mr-md-0 d-block">
            <a class="nav-link fade-page px-0 py-2" href="assets/atom/generalPublic.atom" target="_blank" title="Rufe den Atom-Feed für Events für die breite Öffentlichkeit auf">Atom-Feed Events für breite Öffentlichkeit</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="row">
      <div class="col text-white">
        <hr class="mt-5">
      </div>
    </div>
    <div class="row flex-column flex-lg-row align-items-center justify-content-center justify-content-lg-between text-center text-lg-left">
      <div class="col-auto">
        <div class="d-flex flex-column flex-sm-row align-items-center text-small">
          <div class="text-white"><a  routerLink="dataprivacystatement" target="_self">Datenschutzerklärung</a> und <a routerLink="impressum" target="_self">Impressum</a>
          </div>
        </div>
      </div>
      <div class="col-auto mt-3 mt-lg-0">
        <ul class="list-unstyled d-flex mb-0">

          <li class="mx-3">
            <a href="https://twitter.com/ithubbs" class="hover-fade-out" target="_blank" title="Besuch uns auf Twitter">
              <img src="assets/images/icons/social/twitter.svg" alt="Twitter" class="icon icon-sm">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- Required vendor scripts (Do not remove) -->
<script type="text/javascript" src="/assets/js/popper.min.js"></script>

<!-- Required theme scripts (Do not remove) -->
<script type="text/javascript" src="/assets/js/theme.js"></script>
