
  <section class="text-white pb-0 bg-gradient o-hidden">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-xl-10">
          <h1 class="display-3">Gruppen</h1>
          <p class="lead mb-0">Hier findest du eine Auflistung der uns bekannten <span *ngIf="groupStatistics">{{groupStatistics.totalNumberOfGroups}}</span> Community-Gruppen in Braunschweig.</p>

        </div>
      </div>
    </div>
    <div class="divider divider-bottom bg-white"></div>
  </section>

<section class="mb-0 pt-5 pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <!--<table class="table table-responsive">
        <tr>
          <th></th>
          <th style="width: 30%">Gruppe</th>
          <th style="width: 30%">Beschreibung</th>
          <th style="width: 30%">Statistiken</th>
        </tr>
        <tr *ngFor="let group of groups">
          <td id="groupLogo_{{group.id}}"><div style="text-align: center"><img class="group-logo" *ngIf="group.extractedImageURI" [src]="group.extractedImageURI" height="50px"/></div></td>
          <td id="groupName_{{group.id}}"><a href="{{group.url}}" target="_blank">{{group.name}}</a></td>
          <td id="groupDescription_{{group.id}}">{{group.description}}</td>
          <td id="groupStats_{{group.id}}">
            {{group.totalNumberOfEvents}} Events organisiert.<br />
            <div *ngIf="group.totalNumberOfEvents > 0">
              Erstes Event {{group.daysPassedSinceFirstKnownEvent | dayRenderPipe}}.<br />
              Letztes Event {{group.daysPassedSinceLastKnownEvent | dayRenderPipe}}.<br />
              Im Schnitt {{group.averageNumberOfEventsPerMonth}} Events pro Monat.
            </div>
          </td>
        </tr>
      </table>-->
      <table class="table table-responsive">
        <tr>
          <th style="width: 30%">Gruppe</th>
          <th style="width: 70%">Beschreibung</th>
        </tr>
        <tr>
          <td>
            <a href="https://www.meetup.com/de-DE/Braunschweig-Cpp-Meetup/" target="_blank" title="Zur Website des Braunschweig C++ Meetup gehen">
              Braunschweig C++ Meetup
            </a>
          </td>
          <td>
            Treffen für Leute, die an C ++ interessiert sind und ihre Gedanken und Erkenntnisse zu diesem Thema teilen möchten.
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://hacktalk.de/" target="_blank" title="Zur Website des Hacktalk gehen">
              Hacktalk
            </a>
          </td>
          <td>
            Monatlich in Braunschweig stattfindende Gesprächsrunde zur After-Work-Zeit mit Lightning-Talks zu technischen Themen.
          </td>
        </tr>
        <tr>
          <td>
            <a href="http://www.jug-ostfalen.de/" target="_blank" title="Zur Website der JUG Ostfalen gehen">
              JUG Ostfalen
            </a>
          </td>
          <td>
            Aktive Community für Java und alles was sich im Dunstkreis dieser Sprache befindet.
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://freifunk-bs.de/" target="_blank" title="Zur Website des Freifunk Braunschweig gehen">
              Freifunk Braunschweig
            </a>
          </td>
          <td>
            Das Projekt baut ein regionales, kostenloses Datennetz mit WLAN-Geräten auf.
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://www.meetup.com/de-DE/GDG-Braunschweig/" target="_blank" title="Zur Website des GDG Braunschweig Meetup gehen">
              GDG Braunschweig
            </a>
          </td>
          <td>
            Monatliches Treffen für Android und iOS Entwickler aus dem Raum Braunschweig.
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://stratum0.org/wiki/CoderDojo" target="_blank" title="Zur Website des Coder Dojo gehen">
              Coder Dojo
            </a>
          </td>
          <td>
            Initiative mit dem Ziel Kindern zwischen 5 und 15 Jahren in mehrstündigen Workshops Programmieren beizubringen.
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://www.hausderwissenschaft.org/projektvielfalt/digital-dienstag.html" target="_blank" title="Zur Website des Digital Dienstag gehen">
              Digital Dienstag
            </a>
          </td>
          <td>
            Alles zu Herausforderungen und Möglichkeiten der digitalen Transformation mit Themenschwerpunkten aus den Bereichen digitale Bildung, Informationstechnologie, neue Arbeitswelten u.v.m.
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://www.meetup.com/de-DE/Qlik-Meetup-Braunschweig-Hannover/" target="_blank" title="Zur Website des Qlik Meetup gehen">
              Qlik Meetup - Braunschweig / Hannover
            </a>
          </td>
          <td>
            Gruppe für alle, die sich für Datenanalyse interessieren und eine Leidenschaft für Qlik und die "Value-Added Products" teilen.
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://www.eventbrite.de/o/we-try-agile-18551287317" target="_blank" title="Zur Website von We Try Agile gehen">
              We Try Agile
            </a>
          </td>
          <td>
            Treffen zum Ausprobieren von agilen Spielen und Methoden für alle agil Interessierten.
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://stratum0.org/" target="_blank" title="Zur Website des Stratum 0 gehen">
              Stratum 0
            </a>
          </td>
          <td>
            Ein Hackerspace für Braunschweig und Umgebung mit High-Tech-Werkstatt und Gelegenheiten zum Austausch.
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://www.xing.com/communities/groups/scrumtisch-braunschweig-dcd7-1136794" target="_blank" title="Zur Website des Scrumtisch Braunschweig gehen">
              Scrumtisch Braunschweig
            </a>
          </td>
          <td>
            Gruppe für alle an Scrum und agilen Methoden Interessierten in der Region Braunschweig-Wolfsburg.
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://digitalcourage.de/treffen-vor-ort/braunschweig" target="_blank" title="Zur Website der Digitalcourage Ortsgruppe Braunschweig gehen">
              Digitalcourage Ortsgruppe Braunschweig
            </a>
          </td>
          <td>
            Verein für Grundrechte und Datenschutz, die Ortsgruppe plant Aktionen wie Lesungen und Infostände.
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://www.meetup.com/de-DE/Braunschweig-Artificial-Intelligence-Meetup/" target="_blank" title="Zur Website des Braunschweig Artificial Intelligence Meetup gehen">
              Braunschweig Artificial Intelligence Meetup
            </a>
          </td>
          <td>
            Treffen für technische Diskussionen über die neuesten Trends in der künstlichen Intelligenz mit Schwerpunkt auf Deep-Learning-Technologien.
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://www.meetup.com/de-DE/Braunschweig-Innovation-Meetup/" target="_blank" title="Zur Website des Braunschweig Kubernetes Meetup gehen">
              Braunschweig Kubernetes Meetup
            </a>
          </td>
          <td>
            Treffen für alle Themen rund um Kubernetes, Docker und Cloud-Technologien.
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://www.meetup.com/de-DE/AWS-User-Group-Braunschweig2/" target="_blank" title="Zur Website der AWS User Group Braunschweig gehen">
              AWS User Group Braunschweig
            </a>
          </td>
          <td>
            Treffen rund um den AWS-Stack, Best Practices und neue Technologien.
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://www.meetup.com/de-DE/eXXchange-IT-Braunschweig/" target="_blank" title="Zur Website des exxchange IT Braunschweig Meetup gehen">
              exxchange IT Braunschweig
            </a>
          </td>
          <td>
            Regelmäßiger Austausch über aktuelle Themen der IT-Welt in entspannter Runde.
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://bsspeaks.de/" target="_blank" title="Zur Website der Braunschweig Toastmasters gehen">
              Braunschweig Toastmasters
            </a>
          </td>
          <td>
            Club zur Förderung und zum Training der öffentlichen Rede und rhetorischer Fähigkeiten.
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://www.meetup.com/de-DE/Kotlin-User-Group-Brunswick/" target="_blank" title="Zur Website der Kotlin User Group Brunswick gehen">
              Kotlin User Group Brunswick
            </a>
          </td>
          <td>
            Alles rund um Kotlin in Verbindung mit Java bzw der JVM allgemein.
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://www.meetup.com/de-DE/orclapex-Oracle-APEX-Braunschweig/" target="_blank" title="Zur Website des Oracle APEX Braunschweig Meetup gehen">
              orclapex - Oracle APEX Braunschweig
            </a>
          </td>
          <td>
            Gruppe  für alle, die sich für Themen rund um Oracle Application Express (APEX), Oracle PL/SQL und sonstige flankierende Technologien interessieren.
          </td>
        </tr>
<!--        <tr>-->
<!--          <td>-->
<!--            <a href="http://royaljs.de/" target="_blank" title="Zur Website von RoyalJS gehen">-->
<!--              RoyalJS-->
<!--            </a>-->
<!--          </td>-->
<!--          <td>-->
<!--            Treffpunkt für alle JavaScript-, TypeScript-, ECMAScript- und Web-Entwickler sowie Interessierte aus Braunschweig und Umgebung.-->
<!--          </td>-->
<!--        </tr>-->
        <tr>
          <td>
            <a href="https://www.pybraunschweig.de/" target="_blank" title="Zur Website der Python User Group Braunschweig gehen">
              Python User Group Braunschweig
            </a>
          </td>
          <td>
           Community für alle die sich für Python interessieren - vom Anfänger bis zum erfahrenen Profi.
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://linux-am-dienstag.de/" target="_blank" title="Zur Website von Linux am Dienstag gehen">
              Linux am Dienstag
            </a>
          </td>
          <td>
            Abendlichen Linux-Gruppe mit Vorträgen
          </td>
        </tr>
      </table>

    </div>

    <hr>

    <div class="row justify-content-center mt-4 mt-md-5">
      <div class="col-auto">
        <div><a class="btn btn-success" href="mailto:steven@stevenschwenke.de" title="Melde uns eine neue Gruppe per E-Mail">Neue Gruppe melden!</a>
        </div>
      </div>
    </div>
  </div>

  <div class="divider divider-bottom bg-primary"></div>
</section>
<!--<p>
  Hier findest du eine Auflistung der uns bekannten <span *ngIf="groupStatistics">{{groupStatistics.totalNumberOfGroups}}</span> Community-Gruppen in Braunschweig.
</p>
<table class="table table-responsive">
  <tr>
    <th></th>
    <th style="width: 30%">Gruppe</th>
    <th style="width: 30%">Beschreibung</th>
    <th style="width: 30%">Statistiken</th>
  </tr>
  <tr *ngFor="let group of groups">
    <td id="groupLogo_{{group.id}}"><div style="text-align: center"><img *ngIf="group.extractedImageURI" [src]="group.extractedImageURI" height="50px"/></div></td>
    <td id="groupName_{{group.id}}"><a href="{{group.url}}" target="_blank">{{group.name}}</a></td>
    <td id="groupDescription_{{group.id}}">{{group.description}}</td>
    <td id="groupStats_{{group.id}}">
      {{group.totalNumberOfEvents}} Events organisiert.<br />
      <div *ngIf="group.totalNumberOfEvents > 0">
        Erstes Event {{group.daysPassedSinceFirstKnownEvent | dayRenderPipe}}.<br />
        Letztes Event {{group.daysPassedSinceLastKnownEvent | dayRenderPipe}}.<br />
        Im Schnitt {{group.averageNumberOfEventsPerMonth}} Events pro Monat.
      </div>
    </td>
  </tr>
</table>

<p>
  <b><a href="mailto:steven@stevenschwenke.de">Neue Gruppe melden</a></b>
</p>-->
