
  <section class="text-white pb-0 bg-gradient o-hidden">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-xl-8">
          <h1 class="display-3">Der Verein</h1>
          <p class="lead mb-0">Der am 13.07.2019 gegründete IT Hub e.V. unterstützt die Website und die Veranstaltungen rund um das Hub.</p>

        </div>
      </div>
    </div>
    <div class="divider divider-bottom bg-white"></div>
  </section>

  <section class="pt-5 pb-0">
    <div class="container">
      <div class="row d-flex align-items-start align-items-stretch">
        <div class="col-lg-12 mb-3">
          <p>
            Wir sind passionierte Menschen mit ganz verschiedenen Hintergründen und haben uns gemeinsam zum Ziel gesetzt, Braunschweig eng zu vernetzen und damit einen IT-Hub zu schaffen. Unserer Erfahrung nach ist reger Austausch ein wichtiger Faktor für die Weiterentwicklung und genau diesen Austausch wollen wir zugänglich gestalten. Wir wollen die IT-Vielfalt in Braunschweig betonen und fördern, indem wir Menschen aus bestehenden Interessengruppen, Wirtschaft, Forschung und Ausbildungsverbänden zusammenbringen und dem Austausch Raum geben. Wir können alle voneinander lernen :)
          </p>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 mb-3 d-flex">
          <div class="card card-body align-self-stretch">
            <div class="conf-content__tile">
              <img src="/assets/images/satzung.png" alt="Icon – Darstellung eines Schriftstücks">
              <h3 class="ml-0">Satzung</h3>
              <p>
                Die Satzung ist das wichtigste Dokument eines Vereins und regelt Zweck, Versammlungen und Organe. Sie kann <a href="assets/static/satzung_ithub.pdf" target="_self" download >hier</a> heruntergeladen werden.
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 mb-3 d-flex">
          <div class="card card-body align-self-stretch">
            <div class="conf-content__tile">
              <img src="/assets/images/charitable.png" alt="Icon – Darstellung von Armen die einen Stern umschließen">
              <h3 class="ml-0">Gemeinnützigkeit</h3>
              <p>
                Unser Verein dient dem Gemeinwohl. Wir setzen uns für die IT Community ein und  wollen in unserem Handeln selbstlos sein.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-3 d-flex">
          <div class="card card-body align-self-stretch">
            <div class="conf-content__tile">
              <img src="/assets/images/mitgliedschaft.png" alt="Icon – Darstellung eines Mitgliedausweises">
              <h3 class="ml-0">Mitgliedsantrag</h3>
              <p>
                Du möchtest dem Verein beitreten und so die IT-Community in Braunschweig stärken? Sehr gern! <a href="assets/static/mitgliedsantrag_ithub.pdf" target="_self" download >Hier</a> kannst du den Mitgliedsantrag herunterladen. Schicke diesen bitte im Original an die Vereinsanschrift zurück.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-3 d-flex">
          <div class="card card-body align-self-stretch">
            <div class="conf-content__tile">
              <img src="/assets/images/beitragsordnung.png"  alt="Icon – Darstellung eines Währungszeichens">
              <h3 class="ml-0">Beitragsordnung</h3>
              <p>
                Unser Verein finanziert sich hauptsächlich aus Spenden, weshalb der Mitgliedsbeitrag recht gering ist. In der <a href="assets/static/beitragsordnung_ithub.pdf" target="_self" download title="Die Beitragsordnung als PDF herunterladen">Beitragsordnung</a> findest du Details.
                <br><br><strong>Spenden nimmt unser Konto gern entgegen:</strong><br>
                Deutsche Skatbank<br>
                DE03 8306 5408 0004 1655 60
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-3 d-flex">
          <div class="card card-body align-self-stretch">
            <div class="conf-content__tile">
              <img src="/assets/images/conference/code.svg" alt="Icon – Darstellung von Codeklammern">
              <h3 class="ml-0">Aktueller Vorstand</h3>
              <p>
                Unser Vorstand ist wie folgt besetzt:
              </p>
              <ul>
                <li>1. Vorsitzender: <a href="https://stevenschwenke.de" target="_blank" title="Zur Website von Steven gehen">Steven Schwenke</a></li>
                <li>2. Vorsitzende: <a href="https://twitter.com/Pecc0r" target="_blank" title="Zum Twitter-Profil von Rebecca gehen">Rebecca Husemann</a></li>
                <li>Kassenwart: <a href="http://oliver-milke.de" target="_blank" title="Zur Website von Oliver gehen">Oliver Milke</a></li>
                <li>Schriftführer: <a href="https://github.com/joshavg" target="_blank" title="Zum GitHub-Profil von Josha gehen">Josha von Gizyzki</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-3 d-flex">
          <div class="card card-body align-self-stretch">
            <div class="conf-content__tile">
              <img src="/assets/images/treffen.png" alt="Icon – Darstellung von vernetzten Menschen">
              <h3 class="ml-0">Meet the Hub - monatliches Treffen des IT-Hub Braunschweig</h3>
              <p>
                Eine aktive Community treibt uns an. Deshalb findet an <strong>jedem 3. Donnerstag im Monat</strong> ein Treffen für alle Vereinsmitglieder und Interessierte statt. Schau doch einfach mal vorbei! :)
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-3 d-flex">
          <div class="card card-body align-self-stretch">
            <div class="conf-content__tile">
              <img src="/assets/images/solidarity.svg" alt="Icon – Darstellung von Händen die ein Herz halten">
              <h3 class="ml-0">Tätigkeitsbericht</h3>
              <div>
                Es stehen folgende Tätigkeitsberichte zur Verfügung:
                <ul>
                  <li>
                    <a href="assets/static/taetigkeitsbericht2021.pdf" target="_self" download  title="Tätigkeitsbericht 2021">2021</a>
                  </li>
                  <li>
                    <a href="assets/static/taetigkeitsbericht202021.pdf" target="_self" download  title="Tätigkeitsbericht 2020 bis 2021">Juli 2020 bis Februar 2021</a>
                  </li>
                  <li>
                  <a href="assets/static/taetigkeitsbericht201920.pdf" target="_self" download  title="Tätigkeitsbericht 2019 bis 2020">13.07.2019 bis Juli 2020</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 mb-3 d-flex">
          <div class="card card-body align-self-stretch">
            <div class="conf-content__tile">
              <img src="/assets/images/solidarity.svg" alt="Icon – Darstellung von Händen die ein Herz halten">
              <h3 class="ml-0">Wir für Braunschweig</h3>
              <p>
                Wir möchten die Entwicklung Braunschweigs zu einem IT-Hub fördern. Deshalb sind wir auf <a href="http://wir-fuer-braunschweig.org/braunschweiger-initiativen/weitere-initiativen/item/283-it-hub-e-v" target="_blank"  title="Zur Website von Wir für Braunschweig gehen">wir-fuer-braunschweig.org</a> vertreten.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-3 d-flex">
          <div class="card card-body align-self-stretch">
            <div class="conf-content__tile">
              <img src="/assets/images/kontakt.png" alt="Icon – Darstellung eines Briefumschlags">
              <h3 class="ml-0">Kontakt</h3>
              <p>
                Du möchtest den Verein erreichen? Das ist leicht! Per Mail sind wir unter <a href="mailto:vorstand@ithubbs.de" title="Schreibe eine E-Mail an den Vorstand">vorstand@ithubbs.de</a> erreichbar. Postalisch findet man uns hier: <br>Im Garßenhof 19, 38259 Salzgitter
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="divider divider-bottom bg-primary"></div>
  </section>
