
  <div>
    <h2 class="text-success">Der IT-Hub Braunschweig bietet Vorteile für verschiedene Zielgruppen:</h2>
    <div class="d-flex flex-wrap justify-content-center justify-content-lg-start">
      <div class="my-4 text-lg-left card mb-2 mb-md-3">
        <div class="d-lg-flex d-sm-block p-3 p-md-4">
          <div class="mr-lg-4">
            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="injected-svg icon icon-lg bg-primary" data-src="../assets/img/icons/theme/code/code.svg" aria-labelledby="code" role="img">
              <title id="code">Icon – Darstellung von Codeklammern</title>
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect opacity="0" x="0" y="0" width="24" height="24"></rect>
                <path d="M17.2718029,8.68536757 C16.8932864,8.28319382 16.9124644,7.65031935 17.3146382,7.27180288 C17.7168119,6.89328641 18.3496864,6.91246442 18.7282029,7.31463817 L22.7282029,11.5646382 C23.0906029,11.9496882 23.0906029,12.5503176 22.7282029,12.9353676 L18.7282029,17.1853676 C18.3496864,17.5875413 17.7168119,17.6067193 17.3146382,17.2282029 C16.9124644,16.8496864 16.8932864,16.2168119 17.2718029,15.8146382 L20.6267538,12.2500029 L17.2718029,8.68536757 Z M6.72819712,8.6853647 L3.37324625,12.25 L6.72819712,15.8146353 C7.10671359,16.2168091 7.08753558,16.8496835 6.68536183,17.2282 C6.28318808,17.6067165 5.65031361,17.5875384 5.27179713,17.1853647 L1.27179713,12.9353647 C0.909397125,12.5503147 0.909397125,11.9496853 1.27179713,11.5646353 L5.27179713,7.3146353 C5.65031361,6.91246155 6.28318808,6.89328354 6.68536183,7.27180001 C7.08753558,7.65031648 7.10671359,8.28319095 6.72819712,8.6853647 Z" fill="#000000" fill-rule="nonzero"></path>
                <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-345.000000) translate(-12.000000, -12.000000) " x="11" y="4" width="2" height="16" rx="1"></rect>
              </g>
            </svg>
          </div>
          <div>
            <h3>Entwickler</h3>
            <p>
              Bist du neu in der Stadt oder möchtest dich informiert halten, was so passiet? IT-Hub Braunschweig bietet dir einen Überblick über alle Gruppen und Events, auf denen du andere Entwickler und potentielle Arbeitgeber treffen kannst.
            </p>
          </div>
        </div>
      </div>
      <div class="my-4 text-lg-left card mb-2 mb-md-3">
        <div class="d-lg-flex d-sm-block p-3 p-md-4">
          <div class="mr-lg-4">
            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="injected-svg icon icon-lg bg-primary" data-src="../assets/img/icons/theme/home/building.svg" aria-labelledby="company" role="img">
              <title id="company">Icon – Darstellung eines hohen Hauses</title>
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect opacity="0" x="0" y="0" width="24" height="24"></rect>
                <path d="M13.5,21 L13.5,18 C13.5,17.4477153 13.0522847,17 12.5,17 L11.5,17 C10.9477153,17 10.5,17.4477153 10.5,18 L10.5,21 L5,21 L5,4 C5,2.8954305 5.8954305,2 7,2 L17,2 C18.1045695,2 19,2.8954305 19,4 L19,21 L13.5,21 Z M9,4 C8.44771525,4 8,4.44771525 8,5 L8,6 C8,6.55228475 8.44771525,7 9,7 L10,7 C10.5522847,7 11,6.55228475 11,6 L11,5 C11,4.44771525 10.5522847,4 10,4 L9,4 Z M14,4 C13.4477153,4 13,4.44771525 13,5 L13,6 C13,6.55228475 13.4477153,7 14,7 L15,7 C15.5522847,7 16,6.55228475 16,6 L16,5 C16,4.44771525 15.5522847,4 15,4 L14,4 Z M9,8 C8.44771525,8 8,8.44771525 8,9 L8,10 C8,10.5522847 8.44771525,11 9,11 L10,11 C10.5522847,11 11,10.5522847 11,10 L11,9 C11,8.44771525 10.5522847,8 10,8 L9,8 Z M9,12 C8.44771525,12 8,12.4477153 8,13 L8,14 C8,14.5522847 8.44771525,15 9,15 L10,15 C10.5522847,15 11,14.5522847 11,14 L11,13 C11,12.4477153 10.5522847,12 10,12 L9,12 Z M14,12 C13.4477153,12 13,12.4477153 13,13 L13,14 C13,14.5522847 13.4477153,15 14,15 L15,15 C15.5522847,15 16,14.5522847 16,14 L16,13 C16,12.4477153 15.5522847,12 15,12 L14,12 Z" fill="#000000"></path>
                <rect fill="#FFFFFF" x="13" y="8" width="3" height="3" rx="1"></rect>
                <path d="M4,21 L20,21 C20.5522847,21 21,21.4477153 21,22 L21,22.4 C21,22.7313708 20.7313708,23 20.4,23 L3.6,23 C3.26862915,23 3,22.7313708 3,22.4 L3,22 C3,21.4477153 3.44771525,21 4,21 Z" fill="#000000" opacity="0.3"></path>
              </g>
            </svg>
          </div>
          <div>
            <h3>Unternehmen</h3>
            <p>
              Du als Führungskraft möchtest gut ausgebildete Entwickler als Mitarbeiter? Zeige IT-Hub Braunschweig auf den Monitoren in deinen Konferenzräumen an oder weise deine Entwickler regelmäßig auf die in Braunschweig stattfindenden, hochwertigen und kostenfreien Schulungen hin.
            </p>
          </div>
        </div>
      </div>
      <div class="my-4 text-lg-left card mb-2 mb-md-3">
        <div class="d-lg-flex d-sm-block p-3 p-md-4">
          <div class="mr-lg-4">
            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="injected-svg icon icon-lg bg-primary" data-src="../assets/img/icons/theme/general/clipboard.svg" aria-labelledby="clipboard" role="img">
              <title id="thumbsup">Icon – Darstellung eines Klemmbretts</title>
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect opacity="0" x="0" y="0" width="24" height="24"></rect>
                <path d="M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z" fill="#000000" opacity="0.3"></path>
                <path d="M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z" fill="#000000"></path>
                <rect fill="#000000" opacity="0.3" x="7" y="10" width="5" height="2" rx="1"></rect>
                <rect fill="#000000" opacity="0.3" x="7" y="14" width="9" height="2" rx="1"></rect>
              </g>
            </svg>
          </div>
          <div>
            <h3>Organisatoren</h3>
            <p>Als Organisator eigener Veranstaltungen kannst du auf IT-Hub Braunschweig nicht nur deine eigene Nische finden, sondern auch noch freie Slots für deine Regeltermine.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
