<section class="text-white pb-0 bg-gradient o-hidden">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-xl-8">
        <h1 class="display-3">Datenschutzerklärung</h1>

      </div>
    </div>
  </div>
  <div class="divider divider-bottom bg-white"></div>
</section>

  <section class="pt-5 pb-0">
    <div class="container">
      <div class="row align-items-start justify-content-between">
        <div class="col-lg-12">

          <div class='impressum'>
            <p>
              Liebe Vereinsmitglieder, Interessenten und Besucher unserer Seiten,<br>
              hier wollen wir, der Vorstand des IT Hub e.V., transparent und verständlich über den Umgang mit von uns erhobenen Daten informieren. Dafür haben wir die Informationen nach der Nutzung unseres Angebotes gegliedert. Sollte diese Aufzählung deine Frage nicht beantworten, oder du dein Recht auf Auskunft, Berichtigung, Löschung, Einschränkung der Verarbeitung, Widerspruch oder Beschwerde in Anspruch nehmen möchtest, schreibe uns gern direkt über <a href="mailto:vorstand@ithubbs.de">vorstand@ithubbs.de</a> an.
            </p>
            <br>
            <h2>Verantwortlichkeit</h2>
            <p>
              Verantwortlich für die Verarbeitung aller personenbezogenen Daten auf unserer Plattform ithubbs.de und personenbezogenen Daten im Verein IT Hub e.V. ist:<br/>
            IT Hub e.V.<br/>
            Garßenhof 19<br/>
            38259 Salzgitter<br/>
            </p>
            <p>
              gesetzlich vertreten durch den Vorstand<br/>
              Steven Schwenke (Vorstandsvorsitzender), erreichbar unter <a href="mailto:steven.schwenke@ithubev.de" title="E-Mail an Steven senden">steven.schwenke@ithubev.de</a>, Garßenhof 19, 38259 Salzgitter und<br/>
              Rebecca Husemann (stellvertretende Vorsitzende), erreichbar unter <a href="mailto:rebecca.husemann@ithubev.de" title="E-Mail an Rebecca senden">rebecca.husemann@ithubev.de</a>.
            </p>
            <br>
            <h2>Datenschutzbeauftragter</h2>
            <p>Das "Zweite Gesetz zur Anpassung des Datenschutzrechts an die Verordnung EU 2016/679 und zur Umsetzung der Richtlinie (EU) 2016/680 (Zweites Datenschutz-Anpassungs- und Umsetzungsgesetz EU – 2. DSAnpUG-EU)" vom 25.11.2019 sieht einen Datenschutzbeauftragten nur dann vor, wenn mehr als 20 Personen ständig mit der automatisierten Verarbeitung personenbezogener Daten beschäftigt sind. Dies ist in unserem Verein nicht der Fall, weshalb wir keinen Datenschutzbeauftragten ernannt haben.</p>
            <br>
            <h2>Auf unserer Plattform gespeicherte Veranstaltungen und Community-Gruppen</h2>
            <p>Zum Zwecke der Förderung der IT-Community Braunschweigs betreiben wir unsere Webseite, auf der wir öffentlich zugänglich und übersichtlich Veranstaltungen und deren organisierende Gruppen auf der Webseite und dem RSS-/Atom-Feed darstellen. Diese Informationen lesen wir halb-automatisiert von den öffentlich zugänglichen Webseiten der uns bekannten Gruppen aus und kopieren Informationen wie Veranstaltungsname, Veranstaltungsdatum und die Web-Adresse der Veranstaltung auf unsere Seite. Bei uns werden also nur Informationen gespeichert, die es an anderer Stelle bereits öffentlich zu sehen gibt. Wir speichern keine personenbezogenen Daten, wie Namen des Ansprechpartners einer Veranstaltung oder gar Kontaktinformationen zu natürlichen Personen. Um über eine längere Zeit die Community-Aktivitäten auswerten zu können, bewahren wir diese Daten über einen längeren Zeitraum auf.</p>
            <p>Da im Rahmen unseres Angebotes auf der Webseite keine personenbezogenen Daten gespeichert werden, bedarf es keiner Rechtsgrundlage, auf Grund derer die Verarbeitung erfolgt.</p>
            <p>Die Liste von Veranstaltungen und Community-Gruppen enthält Links zu externen Webseiten. Über diese Webseiten haben wir keinerlei Einfluss und übernehmen keine Verantwortung über dort dargestellte Inhalte oder über die technische Umsetzung der Webseiten. Für Schäden, die durch das Folgen der Links auf die externen Seiten entstehen, haftet allein der Betreiber der Seite, auf die der Link zeigt.</p>
            <br>
            <h2>Daten von Besuchern unserer Webseite</h2>
            <p>Wir nutzen ganz bewusst keine Analyse-Software für unsere Plattform, womit sämtlicher Traffic unbeobachtet bleibt.</p>
            <p>Zum Zwecke des Betriebs der Plattform nutzen wir das Angebot eines Dienstleisters (Amazon Web Services). Daher können wir nicht ausschließen, dass bei diesem Dienstleister personenbezogenen Daten wie z.B. IPs entstehen. Deshalb weisen wir hiermit darauf hin, dass die Benutzung unserer Plattform unter Umständen auf Individuen zurückzuführende Spuren hinterlässt.<p>
            <p>Die Rechtsgrundlage, auf Grund derer die Verarbeitung erfolgt, ist die Einwilligung zu der Verarbeitung der des Nutzers der Webseite betreffenden personenbezogenen Daten für einen oder mehrere bestimmte Zwecke gemäß Artikel 6 Abs. 1 lit. a) DSGVO.</p>
            <p>Generell sind die übertragenen Daten per TLS (Transport Layer Security) gesichert.</p>
            <br>
            <h2>Daten von Vereinsmitgliedern</h2>
            <p>Zum Zwecke der Erfüllung normaler Vereinsvorgänge wie Einberufung zu einer Mitgliederversammlung und Verwaltung von Mitgliedsbeiträgen speichern wir folgende Informationen über jedes Vereinsmitglied:</p>
              <ul>
              <li>Name</li>
              <li>postalische Anschrift</li>
              <li>Mail-Adresse</li>
              <li>Datum und Höhe gezahlter Mitgliedsbeiträge und Spenden</li>
              <li>durch Backups der Kontoauszüge ebenfalls dort ersichtliche Informationen wie Kontonummer und genutzte Bank</li>
            </ul>
            <p>Diese Informationen werden bei unserem Dienstleister IONOS (ionos.de), mit dem wir einen Auftragsverarbeitungsvertrag ("AV-Vertrag") geschlossen haben, auf deutschen Servern gespeichert. Wir geben in keinem Fall die Daten unserer Vereinsmitglieder an Dritte weiter. Für die Organisation vereinsbezogener Veranstaltungen und für steuerliche Zwecke bewahren wir diese Daten über einen längeren Zeitraum auf. Die mit der Vereinsmitgliedschaft eingegangene Einwilligung in Speicherung und Verarbeitung dieser Daten kann jederzeit widerrufen werden - dies ist jedoch nur mit einem Austritt aus dem Verein möglich.</p>
            <p>Die Rechtsgrundlage der Verarbeitung der Daten ist die Erforderlichkeit zur Erfüllung der Vereinsmitgliedschaft gemäß Artikel 6 Abs. 1 lit b) DSGVO.</p>
            <br>
            <h2>Daten von Besuchern unserer Veranstaltung "Meet the Hub"</h2>
            <p>Für unsere monatlich stattfindende, öffentlich zugängliche Kennenlernveranstaltung speichern wir keinerlei Daten. Für die Organisation der Treffen benutzen wir zwar Xing (xing.de), speichern selbst aber keine Daten bei uns oder einem unserer Dienstleister.</p>
            <br>
            <h2>Daten von Besuchern unserer Veranstaltung "IT-Hub Barcamp"</h2>
            <p>Zum Zwecke der Organisation unserer jährlich durchgeführten Konferenz speichern wir von jedem Teilnehmer</p>
            <ul>
              <li>Name</li>
              <li>Mail-Adresse</li>
              <li>Datum und Höhe des Eintrittsgeldes (es gibt verschiedene Eintrittspreise)</li>
              <li>durch Backups der Kontoauszüge ebenfalls dort ersichtliche Informationen wie Kontonummer und genutzte Bank</li>
            </ul>
            <p>Diese Informationen werden bei unserem Dienstleister IONOS (ionos.de), mit dem wir einen Auftragsverarbeitungsvertrag ("AV-Vertrag") geschlossen haben, auf deutschen Servern gespeichert. Wir geben in keinem Fall die Daten der Besucher unserer Veranstaltungen an Dritte weiter. Für die Organisation der folgenden Veranstaltungen bewahren wir diese Daten über einen längeren Zeitraum auf. Die mit der Zustimmung bei der Anmeldung eingegangene Einwilligung in Speicherung und Verarbeitung dieser Daten kann jederzeit widerrufen werden.</p>
            <p>Die Rechtsgrundlage der Verarbeitung der Daten ist die Erforderlichkeit zur Erfüllung des Vertrages gemäß Artikel 6 Abs. 1 lit b) DSGVO.</p>
            <br>
            <h2>Daten von sponsernden Firmen unserer Veranstaltung "IT-Hub Barcamp"</h2>
            <p>Zum Zwecke der Finanzierung unserer jährlich durchgeführten Konferenz speichern wir folgende Informationen unserer Sponsoren:</p>
            <ul>
              <li>Firmenname</li>
              <li>(geschäftliche) Mail-Adresse und Name des Ansprechpartners</li>
              <li>Vereinbarungen wie Höhe des Sponsorings, Leistungen vor, während und nach der Konferenz innerhalb des Sponsorenvertrags</li>
              <li>durch Backups der Kontoauszüge ebenfalls dort ersichtliche Informationen wie Kontonummer und genutzte Bank</li>
            </ul>
            <p>Diese Informationen werden bei unserem Dienstleister IONOS (ionos.de), mit dem wir einen Auftragsverarbeitungsvertrag ("AV-Vertrag") geschlossen haben, auf deutschen Servern gespeichert. Wir geben in keinem Fall die Daten der Sponsoren unserer Veranstaltungen an Dritte weiter. Für die Organisation der folgenden Veranstaltungen und für steuerliche Zwecke bewahren wir diese Daten über einen längeren Zeitraum auf. Die mit der Zustimmung bei Abschluss des Sponsorenvertrages eingegangene Einwilligung in Speicherung und Verarbeitung dieser Daten kann jederzeit widerrufen werden.</p>
            <p>Die Rechtsgrundlage der Verarbeitung der Daten ist die Erforderlichkeit zur Erfüllung des Sponsorenvertrages gemäß Artikel 6 Abs. 1 lit b) DSGVO.</p>
            <br>
            <h2>Daten von Menschen, die uns per Mail kontaktieren</h2>
            <p>Zum Zwecke der Erreichbarkeit des Vorstandes haben wir die Adresse vorstand@ithubbs.de einrichtet. Sie gehört zu einem Mail-Postfach unseres Hosting-Dienstleisters All-Inkl (https://all-inkl.com), mit dem wir einen Auftragsverarbeitungsvertrag ("AV-Vertrag") geschlossen haben. Die Rechenzentren von All-Inkl und damit der Speicherort unserer dort gespeicherten Daten befindet sich in Dresden und damit ausschließlich in Deutschland. Wir geben in keinem Fall die Daten der uns kontaktierenden Menschen an Dritte weiter. Die mit der Zustimmung bei der Absendung der Mail eingegangene Einwilligung in Speicherung und Verarbeitung dieser Daten kann jederzeit widerrufen werden.</p>
            <p>Die Rechtsgrundlage der Verarbeitung der Daten ist die Erforderlichkeit zur Erfüllung des Vertrages gemäß Artikel 6 Abs. 1 lit a) DSGVO.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="divider divider-bottom bg-primary"></div>
  </section>
