<div class="navbar-container">
  <nav class="navbar navbar-expand-lg navbar-light" data-sticky="top">
    <div class="container">
      <a class="navbar-brand navbar-brand-dynamic-color fade-page" routerLink="current">
        <img alt="IT-Hub Braunschweig - Die Plattform der braunschweiger IT-Community" src="../../assets/images/ithubbs-logo.png" width="117" height="73"  alt="IT-Hub Braunschweig Logo – Zurück zur Startseite">
      </a>
      <img class="d-none d-sm-none d-md-none d-lg-block" src="../../assets/images/ITHubBS_Claim.svg" width="180"  alt="Claim – Die Plattform der IT-Community Braunschweigs">
      <div class="d-flex align-items-center order-lg-3">
        <!-- Temp. disabled
        <a href="#" class="btn btn-primary ml-lg-4 mr-3 mr-md-4 mr-lg-0 d-none d-sm-block order-lg-3">Tickets</a>
        -->
        <button aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target=".navbar-collapse" data-toggle="collapse" type="button">
          <img alt="Navbar Toggler Open Icon" class="navbar-toggler-open icon icon-sm" src="../../assets/images/icons/interface/icon-menu.svg">
          <img alt="Navbar Toggler Close Icon" class="navbar-toggler-close icon icon-sm" src="../../assets/images/icons/interface/icon-x.svg">
        </button>
      </div>
      <div class="collapse navbar-collapse order-3 order-lg-2 justify-content-lg-end" id="navigation-menu">
        <ul class="navbar-nav my-3 my-lg-0">
          <li class="nav-item">
            <a aria-expanded="false" aria-haspopup="true" class="nav-link nav-item" routerLink="current" role="button" title="Zur Startseite gehen">Start</a>
          </li>
          <li class="nav-item">
            <a aria-expanded="false" aria-haspopup="true" class="nav-link nav-item" routerLink="conference" role="button" title="Zu den Konferenzinfos gehen">Konferenz</a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a aria-expanded="false" aria-haspopup="true" class="nav-link nav-item" routerLink="events" role="button" title="Zur Eventübersicht gehen">Events</a>-->
<!--          </li>-->
          <li class="nav-item">
            <a aria-expanded="false" aria-haspopup="true" class="nav-link nav-item" routerLink="campaigns" role="button" title="Zur Aktionsübersicht gehen">Aktionen</a>
          </li>
          <li class="nav-item">
            <a aria-expanded="false" aria-haspopup="true" class="nav-link nav-item" routerLink="gruppen" role="button" title="Zur Gruppenübersicht gehen">Gruppen</a>
          </li>
          <li class="nav-item">
            <a aria-expanded="false" aria-haspopup="true" class="nav-link nav-item" routerLink="participate" role="button" title="Zu den Mitmach-Informationen gehen">Mitmachen</a>
          </li>
          <li class="nav-item">
            <a aria-expanded="false" aria-haspopup="true" class="nav-link nav-item" routerLink="association" role="button" title="Zu den Vereinsinfos gehen">Verein</a>
          </li>
          <li class="nav-item">
            <a aria-expanded="false" aria-haspopup="true" class="nav-link nav-item" routerLink="knowledge" role="button" title="Zum Wissensbereich gehen">Wissen</a>
          </li>
          <!--<li class="nav-item">
            <a aria-expanded="false" aria-haspopup="true" class="nav-link nav-item" routerLink="dataprivacystatement">Datenschutzerklärung</a>
          </li>-->
          <!-- Temp. disabled
          <li class="nav-item">
            <div class="dropdown">
              <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle nav-link nav-item arrow-bottom" data-toggle="dropdown-grid" href="#" role="button">Konferenz</a>
              <div class="row dropdown-menu">
                <div class="col-auto" data-dropdown-content>
                  <div class="dropdown-grid-menu">
                    <a routerLink="conference" class="dropdown-item">Konferenz 2020</a>
                    <a href="landing-1.html" class="dropdown-item fade-page">Archiv</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle nav-link nav-item arrow-bottom" data-toggle="dropdown-grid" href="#" role="button">Community</a>
              <div class="row dropdown-menu">
                <div class="col-auto" data-dropdown-content>
                  <div class="dropdown-grid-menu">
                    <a href="company-about-1.html" class="dropdown-item fade-page">Events</a>
                    <a href="company-about-2.html" class="dropdown-item fade-page">Aktionen</a>
                    <a routerLink="gruppen" class="dropdown-item fade-page">Gruppen</a>
                    <a href="company-about-2.html" class="dropdown-item fade-page">Mitmachen</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle nav-link nav-item arrow-bottom" data-toggle="dropdown-grid" href="#" role="button">Verein</a>
              <div class="row dropdown-menu">
                <div class="col-auto" data-dropdown-content>
                  <div class="dropdown-grid-menu">
                    <a routerLink="association" class="dropdown-item fade-page">Über uns</a>
                    <a href="blog-listing-3.html" class="dropdown-item fade-page">Tätigkeitsbericht</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          -->
        </ul>
      </div>
    </div>

  </nav>
</div>

