<section class="text-white pb-0 bg-gradient o-hidden">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-xl-10">
        <h1 class="display-3">Events</h1>
        <p class="lead mb-0">Alle kommenden Events auf einen Blick.</p>

      </div>
    </div>
  </div>
  <div class="divider divider-bottom bg-white"></div>
</section>

<section class="pb-0">
  <div class="container">
    <div class="row section-title justify-content-center mb-5">
      <!--<div class="col-md-9 col-lg-8 col-xl-12" *ngIf="eventStatistics">
        <div class="row mb-5 text-center">
          <div class="col-sm-12 col-md-4 mb-3 mb-md-0">
            <div class="h2 text-primary mb-2">{{eventStatistics.averageNumberOfEventsPerMonth}}</div>
            <h6 class="mb-0">⌀ Events pro Monat</h6>
          </div>
          <div class="col-sm-12 col-md-4 mb-3 mb-md-0">
            <div class="h2 text-primary mb-2">{{eventStatistics.numberOfFutureEvents}}</div>
            <h6 class="mb-0">Anstehende Events</h6>
          </div>
          <div class="col-sm-12 col-md-4 mb-3 mb-md-0">
            <div class="h2 text-primary mb-2">{{eventStatistics.totalNumberOfEvents}}</div>
            <h6 class="mb-0">Events insgesamt</h6>
          </div>
        </div>
        <hr>
        <app-upcoming-events></app-upcoming-events>
      </div>-->


      <div class="col-md-12 col-lg-8 col-xl-12">
        <ul class="nav btn-group btn-group-toggle" id="dateTab" role="tablist"
            style="align-items: center; justify-content: center;">
          <li class="nav-item">
            <a class="btn btn-success" id="past-tab" data-toggle="tab" href="#past" role="tab" aria-controls="home"
               aria-selected="false">vergangene</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-success active" id="future-tab" data-toggle="tab" href="#future" role="tab"
               aria-controls="profile" aria-selected="true">künftige</a>
          </li>
        </ul>
        <div class="tab-content flex-grow-1 mt-4" id="dateTabContent">
          <div class="tab-pane fade" id="past" role="tabpanel" aria-labelledby="past-tab">
            <div class="card">
              <div class="card-body">
                <table class="table table-responsive-md table-striped table-hover">
                  <thead>
                  <tr>
                    <th scope="col">Datum</th>
                    <th scope="col">Gruppe</th>
                    <th scope="col">Thema/Event</th>
                  </tr>
                  </thead>
                  <tr>
                    <td>13.04.2021, 17:00 - 19:00 Uhr</td>
                    <td>Hacktalk</td>
                    <td>
                      <a href="https://hacktalk.de/" target="_blank" title="Zum Event gehen">Audiosignalverarbeitung aka "Was ist eigentlich
                        Schall?"</a>
                    </td>
                  </tr>
                  <tr>
                    <td>13.04.2021, 18:00 - 19:30 Uhr</td>
                    <td>Haus der Wissenschaft</td>
                    <td>
                      <a
                        href="https://www.braunschweig.de/kultur/veranstaltungen/index.php?mode=details&event_id=153244"
                        target="_blank" title="Zum Event gehen">Digital Dienstag | Open Data</a>
                    </td>
                  </tr>
                  <tr>
                    <td>14.04.2021, 19:00 Uhr</td>
                    <td>Freifunk Braunschweig</td>
                    <td>
                      <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>
                    </td>
                  </tr>
                  <tr>
                    <td>14.04.2021, 17:00 - 18:00 Uhr</td>
                    <td>Qlik Meetup - Braunschweig / Hannover</td>
                    <td>
                      <a href="https://www.meetup.com/de-DE/Qlik-Meetup-Braunschweig-Hannover/events/276730493/"
                         target="_blank" title="Zum Event gehen">Virtuelles Qlik Meetup #4</a>
                    </td>
                  </tr>
                  <tr>
                    <td>14.04.2021, 18:00 Uhr</td>
                    <td>We Try Agile</td>
                    <td>
                      <a
                        href="https://www.eventbrite.de/e/30-we-try-agile-selbstreflektion-und-teamkonstellationen-tickets-143404068429"
                        target="_blank" title="Zum Event gehen">30. We Try Agile - Selbstreflektion und Teamkonstellationen</a>
                    </td>
                  </tr>
                  <tr>
                    <td>14.04.2021, 19:00 Uhr</td>
                    <td>Braunschweig Toastmasters</td>
                    <td>
                      <a href="https://tmclub.eu/view_agenda.php?t=159722" target="_blank" title="Zum Event gehen">BS Speaks</a>
                    </td>
                  </tr>
                  <tr>
                    <td>21.04.2021, 19:00</td>
                    <td>Freifunk Braunschweig</td>
                    <td>
                      <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>
                    </td>
                  </tr>
                  <tr>
                    <td>22.04.2021, 20:00 - 22:00</td>
                    <td>Digitalcourage Braunschweig</td>
                    <td>
                      <a href="https://stratum0.org/wiki/Digitalcourage_Braunschweig" target="_blank" title="Zum Event gehen">Offenes
                        Ortsgruppentreffen (online)</a>
                    </td>
                  </tr>
                  <tr>
                    <td>28.04.2021, 19:00</td>
                    <td>Freifunk Braunschweig</td>
                    <td>
                      <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>
                    </td>
                  </tr>
                  <tr>
                    <td>28.04.2021, 19:00</td>
                    <td>Braunschweig Toastmasters</td>
                    <td>
                      <a href="https://tmclub.eu/view_agenda.php?t=159722" target="_blank" title="Zum Event gehen">BS Speaks</a>
                    </td>
                  </tr>
                  <tr>
                    <td>04.05.2021, 17:00 - 19:00 Uhr</td>
                    <td>Hacktalk</td>
                    <td>
                      <a href="https://hacktalk.de/" target="_blank" title="Zum Event gehen">Heimautomatisierung</a>
                    </td>
                  </tr>
                  <tr>
                    <td>05.05.2021 , 17:30 - 20:00</td>
                    <td>SCRUMTISCH Braunschweig</td>
                    <td>
                      <a
                        href="https://www.xing.com/events/5-scrumtisch-braunschweig-3364931?sc_o=groups_event_name_click"
                        target="_blank" title="Zum Event gehen">5. SCRUMTISCH Braunschweig</a>
                    </td>
                  </tr>
                  <tr>
                    <td>05.05.2021, 19:00</td>
                    <td>Freifunk Braunschweig</td>
                    <td>
                      <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>
                    </td>
                  </tr>
                  <tr>
                    <td>06.05.2021, 20:00 - 22:00</td>
                    <td>Digitalcourage Braunschweig</td>
                    <td>
                      <a href="https://stratum0.org/wiki/Digitalcourage_Braunschweig" target="_blank" title="Zum Event gehen">Offenes
                        Ortsgruppentreffen (online)</a>
                    </td>
                  </tr>
                  <tr>
                    <td>11.05.2021, 18:00 - 19:30 Uhr</td>
                    <td>Haus der Wissenschaft</td>
                    <td>
                      <a
                        href="https://www.hausderwissenschaft.org/projektvielfalt/digital-dienstag.html?ADMCMD_editIcons=38"
                        target="_blank" title="Zum Event gehen">Digital Dienstag | Digitale Währung</a>
                    </td>
                  </tr>
                  <tr>
                    <td>12.05.2021, 19:00 Uhr</td>
                    <td>Braunschweig Toastmasters</td>
                    <td>
                      <a href="https://tmclub.eu/view_agenda.php?t=159724" target="_blank" title="Zum Event gehen">BS Speaks</a>
                    </td>
                  </tr>
                  <tr>
                    <td>12.05.2021, 19:00 Uhr</td>
                    <td>We Try Agile</td>
                    <td>
                      <a
                        href="https://www.eventbrite.de/e/31-we-try-agile-design-thinking-tickets-143404220885?aff=ebdsoporgprofile"
                        target="_blank" title="Zum Event gehen">31. We Try Agile - Design Thinking</a>
                    </td>
                  </tr>
                  <tr>
                    <td>12.05.2021, 19:00</td>
                    <td>Freifunk Braunschweig</td>
                    <td>
                      <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>
                    </td>
                  </tr>
                  <tr>
                    <td>18.05.2021, 18:30</td>
                    <td>GDG Braunschweig</td>
                    <td>
                      <a href="https://www.meetup.com/de-DE/GDG-Braunschweig/events/278050836/" target="_blank" title="Zum Event gehen">Google
                        I/O 2021 Extended Keynote Viewing Party</a>
                    </td>
                  </tr>
                  <tr>
                    <td>19.05.2021, 19:00</td>
                    <td>Freifunk Braunschweig</td>
                    <td>
                      <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>
                    </td>
                  </tr>
                  <tr>
                    <td>20.05.2021, 19:00 Uhr</td>
                    <td>JUG Ostfalen</td>
                    <td>
                      <a href="https://www.jug-ostfalen.de/event/2021/05/20/stammtisch.html" target="_blank" title="Zum Event gehen">JUG
                        Stammtisch</a>
                    </td>
                  </tr>
                  <tr>
                    <td>20.05.2021, 20:00 - 22:00</td>
                    <td>Digitalcourage Braunschweig</td>
                    <td>
                      <a href="https://stratum0.org/wiki/Digitalcourage_Braunschweig" target="_blank" title="Zum Event gehen">Offenes
                        Ortsgruppentreffen (online)</a>
                    </td>
                  </tr>
                  <tr>
                    <td>25.05.2021, 19:00</td>
                    <td>Linux am Dienstag</td>
                    <td>
                      <a href="https://marius.bloggt-in-braunschweig.de/linux-am-dienstag/" target="_blank" title="Zum Event gehen">Linux am
                        Dienstag</a>
                    </td>
                  </tr>
                  <tr>
                    <td>26.05.2021, 19:00</td>
                    <td>Freifunk Braunschweig</td>
                    <td>
                      <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>
                    </td>
                  </tr>
                  <tr>
                    <td>26.05.2021, 19:00</td>
                    <td>Braunschweig Toastmasters</td>
                    <td>
                      <a href="https://tmclub.eu/view_agenda.php?t=159725" target="_blank" title="Zum Event gehen">BS Speaks</a>
                    </td>
                  </tr>
                  <tr>
                    <td>26.05.2021, 17:00</td>
                    <td>Qlik Meetup</td>
                    <td>
                      <a href="https://www.meetup.com/de-DE/Qlik-Meetup-Braunschweig-Hannover/events/277702637/"
                         target="_blank" title="Zum Event gehen">Virtuelles Qlik Meetup #5</a>
                    </td>
                  </tr>
                  <tr>
                    <td>01.06.2021, 17:00 - 19:00 Uhr</td>
                    <td>Hacktalk</td>
                    <td>
                      <a href="https://hacktalk.de/" target="_blank" title="Zum Event gehen">KI-Services Real Talk: Was es wirklich heißt, KI zu
                        entwickeln</a>
                    </td>
                  </tr>
                  <tr>
                    <td>01.06.2021, 19:00</td>
                    <td>Linux am Dienstag</td>
                    <td>
                      <a href="https://marius.bloggt-in-braunschweig.de/linux-am-dienstag/" target="_blank" title="Zum Event gehen">Linux am
                        Dienstag</a>
                    </td>
                  </tr>
                  <tr>
                    <td>02.06.2021, 19:00</td>
                    <td>Freifunk Braunschweig</td>
                    <td>
                      <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>
                    </td>
                  </tr>
                  <tr>
                    <td>03.06.2021, 20:00</td>
                    <td>Digitalcourage Braunschweig</td>
                    <td>
                      <a href="https://stratum0.org/wiki/Digitalcourage_Braunschweig" target="_blank" title="Zum Event gehen">Offenes
                        Ortsgruppentreffen (online)</a>
                    </td>
                  </tr>
                  <tr>
                    <td>08.06.2021, 19:00</td>
                    <td>Linux am Dienstag</td>
                    <td>
                      <a href="https://marius.bloggt-in-braunschweig.de/linux-am-dienstag/" target="_blank" title="Zum Event gehen">Linux am
                        Dienstag</a>
                    </td>
                  </tr>
                  <tr>
                    <td>09.06.2021, 19:00</td>
                    <td>Braunschweig Toastmasters</td>
                    <td>
                      <a href="https://tmclub.eu/view_agenda.php?t=159726" target="_blank" title="Zum Event gehen">BS Speaks</a>
                    </td>
                  </tr>
                  <tr>
                    <td>09.06.2021, 19:00 Uhr</td>
                    <td>We Try Agile</td>
                    <td>
                      <a
                        href="https://www.eventbrite.de/e/32-we-try-agile-nein-sagen-und-themenwahl-tickets-143404401425?aff=ebdsoporgprofile"
                        target="_blank" title="Zum Event gehen">32. We Try Agile - Nein sagen und Themenwahl</a>
                    </td>
                  </tr>
                  <tr>
                    <td>09.06.2021, 19:00</td>
                    <td>Freifunk Braunschweig</td>
                    <td>
                      <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>
                    </td>
                  </tr>
                  <tr>
                    <td>15.06.2021, 18:00 - 19:30 Uhr</td>
                    <td>Haus der Wissenschaft</td>
                    <td>
                      <a href="https://www.hausderwissenschaft.org/projektvielfalt/digital-dienstag.html"
                         target="_blank" title="Zum Event gehen">Digital Dienstag | Cloud Computing</a>
                    </td>
                  </tr>
                  <tr>
                    <td>15.06.2021, 19:00</td>
                    <td>Linux am Dienstag</td>
                    <td>
                      <a href="https://marius.bloggt-in-braunschweig.de/linux-am-dienstag/" target="_blank" title="Zum Event gehen">Linux am
                        Dienstag</a>
                    </td>
                  </tr>
                  <tr>
                    <td>16.06.2021, 19:00</td>
                    <td>Freifunk Braunschweig</td>
                    <td>
                      <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>
                    </td>
                  </tr>
                  <tr>
                    <td>17.06.2021, 20:00</td>
                    <td>Digitalcourage Braunschweig</td>
                    <td>
                      <a href="https://stratum0.org/wiki/Digitalcourage_Braunschweig" target="_blank" title="Zum Event gehen">Offenes
                        Ortsgruppentreffen (online)</a>
                    </td>
                  </tr>
                  <tr>
                    <td>22.06.2021, 19:00</td>
                    <td>Linux am Dienstag</td>
                    <td>
                      <a href="https://marius.bloggt-in-braunschweig.de/linux-am-dienstag/" target="_blank" title="Zum Event gehen">Linux am
                        Dienstag</a>
                    </td>
                  </tr>
                  <tr>
                    <td>23.06.2021, 19:00</td>
                    <td>Braunschweig Toastmasters</td>
                    <td>
                      <a href="https://tmclub.eu/view_agenda.php?t=159728" target="_blank" title="Zum Event gehen">BS Speaks</a>
                    </td>
                  </tr>
                  <tr>
                    <td>23.06.2021, 19:00</td>
                    <td>Freifunk Braunschweig</td>
                    <td>
                      <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>
                    </td>
                  </tr><tr>
                  <td>29.06.2021, 19:00</td>
                  <td>Linux am Dienstag</td>
                  <td>
                    <a href="https://marius.bloggt-in-braunschweig.de/linux-am-dienstag/" target="_blank" title="Zum Event gehen">Linux am
                      Dienstag</a>
                  </td>
                </tr>
                  <tr>
                    <td>30.06.2021, 19:00</td>
                    <td>Freifunk Braunschweig</td>
                    <td>
                      <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>
                    </td>
                  </tr>
                  <tr>
                    <td>30.06.2021, 17:00</td>
                    <td>exxchange IT Braunschweig</td>
                    <td>
                      <a href="https://www.meetup.com/de-DE/eXXchange-IT-Braunschweig/events/278918013/" target="_blank" title="Zum Event gehen">Software as a Service – Von der Idee zum Start-up</a>
                    </td>
                  </tr>
                  <tr>
                    <td>01.07.2021, 20:00</td>
                    <td>Digitalcourage Braunschweig</td>
                    <td>
                      <a href="https://stratum0.org/wiki/Digitalcourage_Braunschweig" target="_blank" title="Zum Event gehen">Offenes
                        Ortsgruppentreffen (online)</a>
                    </td>
                  </tr>
                  <tr>
                    <td>06.07.2021, 17:00 - 19:00 Uhr</td>
                    <td>Hacktalk</td>
                    <td>
                      <a href="https://hacktalk.de/" target="_blank" title="Zum Event gehen">Vorträge halten in der IT</a>
                    </td>
                  </tr>
                  <tr>
                    <td>06.07.2021, 19:00</td>
                    <td>Linux am Dienstag</td>
                    <td>
                      <a href="https://marius.bloggt-in-braunschweig.de/linux-am-dienstag/" target="_blank" title="Zum Event gehen">Linux am
                        Dienstag</a>
                    </td>
                  </tr>
                  <tr>
                    <td>07.07.2021 , 17:30 - 20:00</td>
                    <td>SCRUMTISCH Braunschweig</td>
                    <td>
                      <a href="https://www.xing.com/events/6-scrumtisch-braunschweig-3459559" target="_blank" title="Zum Event gehen">6.
                        SCRUMTISCH Braunschweig</a>
                    </td>
                  </tr>
                  <tr>
                    <td>07.07.2021, 19:00</td>
                    <td>Freifunk Braunschweig</td>
                    <td>
                      <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>
                    </td>
                  </tr>
                  <tr>
                    <td>13.07.2021, 19:00</td>
                    <td>Linux am Dienstag</td>
                    <td>
                      <a href="https://marius.bloggt-in-braunschweig.de/linux-am-dienstag/" target="_blank" title="Zum Event gehen">Linux am
                        Dienstag</a>
                    </td>
                  </tr>
                  <tr>
                    <td>14.07.2021, 19:00</td>
                    <td>Braunschweig Toastmasters</td>
                    <td>
                      <a href="https://tmclub.eu/view_agenda.php?t=159729" target="_blank" title="Zum Event gehen">BS Speaks</a>
                    </td>
                  </tr>
                  <tr>
                    <td>14.07.2021, 19:00</td>
                    <td>Freifunk Braunschweig</td>
                    <td>
                      <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>
                    </td>
                  </tr>
                  <tr>
                    <td>14.07.2021, 19:00</td>
                    <td>We Try Agile</td>
                    <td>
                      <a href="https://www.eventbrite.de/e/33-we-try-agile-featureban-30-online-tickets-161020840669?aff=ebdsoporgprofile" target="_blank" title="Zum Event gehen">33. We Try Agile - Featureban 3.0 Online</a>
                    </td>
                  </tr>
                  <tr>
                    <td>15.07.2021, 20:00</td>
                    <td>Digitalcourage Braunschweig</td>
                    <td>
                      <a href="https://stratum0.org/wiki/Digitalcourage_Braunschweig" target="_blank" title="Zum Event gehen">Offenes
                        Ortsgruppentreffen (online)</a>
                    </td>
                  </tr><tr>
                  <td>20.07.2021, 19:00</td>
                  <td>Linux am Dienstag</td>
                  <td>
                    <a href="https://marius.bloggt-in-braunschweig.de/linux-am-dienstag/" target="_blank" title="Zum Event gehen">Linux am
                      Dienstag</a>
                  </td>
                </tr>
                  <tr>
                    <td>21.07.2021, 19:00</td>
                    <td>Freifunk Braunschweig</td>
                    <td>
                      <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>
                    </td>
                  </tr><tr>
                  <td>27.07.2021, 19:00</td>
                  <td>Linux am Dienstag</td>
                  <td>
                    <a href="https://marius.bloggt-in-braunschweig.de/linux-am-dienstag/" target="_blank" title="Zum Event gehen">Linux am
                      Dienstag</a>
                  </td>
                </tr>
                  <tr>
                    <td>28.07.2021, 19:00</td>
                    <td>Freifunk Braunschweig</td>
                    <td>
                      <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>
                    </td>
                  </tr>
                  <tr>
                    <td>28.07.2021, 19:00</td>
                    <td>Braunschweig Toastmasters</td>
                    <td>
                      <a href="https://tmclub.eu/view_agenda.php?t=159730" target="_blank" title="Zum Event gehen">BS Speaks</a>
                    </td>
                  </tr>
                  <tr>
                    <td>29.07.2021, 20:00</td>
                    <td>Digitalcourage Braunschweig</td>
                    <td>
                      <a href="https://stratum0.org/wiki/Digitalcourage_Braunschweig" target="_blank" title="Zum Event gehen">Offenes
                        Ortsgruppentreffen (online)</a>
                    </td>
                  </tr>
                  <tr>
                    <td>03.08.2021, 19:00</td>
                    <td>Linux am Dienstag</td>
                    <td>
                      <a href="https://marius.bloggt-in-braunschweig.de/linux-am-dienstag/" target="_blank" title="Zum Event gehen">Linux am
                        Dienstag</a>
                    </td>
                  </tr>
                  <tr>
                    <td>03.08.2021, 17:00 - 19:00 Uhr</td>
                    <td>Hacktalk</td>
                    <td>
                      <a href="https://hacktalk.de/" target="_blank" title="Zum Event gehen">Searching for Sounds - Audio-Browsing für Sound Designer</a>
                    </td>
                  </tr>
                  <tr>
                    <td>04.08.2021, 19:00</td>
                    <td>Freifunk Braunschweig</td>
                    <td>
                      <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>
                    </td>
                  </tr>
                  <tr>
                    <td>10.08.2021, 19:00</td>
                    <td>Linux am Dienstag</td>
                    <td>
                      <a href="https://marius.bloggt-in-braunschweig.de/linux-am-dienstag/" target="_blank" title="Zum Event gehen">Linux am
                        Dienstag</a>
                    </td>
                  </tr>
                  <tr>
                    <td>11.08.2021, 19:00</td>
                    <td>Braunschweig Toastmasters</td>
                    <td>
                      <a href="https://tmclub.eu/view_agenda.php?t=159731" target="_blank" title="Zum Event gehen">BS Speaks</a>
                    </td>
                  </tr>
                  <tr>
                    <td>11.08.2021, 19:00</td>
                    <td>Freifunk Braunschweig</td>
                    <td>
                      <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>
                    </td>
                  </tr>
                  <tr>
                    <td>12.08.2021, 20:00</td>
                    <td>Digitalcourage Braunschweig</td>
                    <td>
                      <a href="https://stratum0.org/wiki/Digitalcourage_Braunschweig" target="_blank" title="Zum Event gehen">Offenes
                        Ortsgruppentreffen (online)</a>
                    </td>
                  </tr>
                  <tr>
                    <td>17.08.2021, 19:00</td>
                    <td>Linux am Dienstag</td>
                    <td>
                      <a href="https://marius.bloggt-in-braunschweig.de/linux-am-dienstag/" target="_blank" title="Zum Event gehen">Linux am
                        Dienstag</a>
                    </td>
                  </tr>
                  <tr>
                    <td>18.08.2021, 19:00</td>
                    <td>Freifunk Braunschweig</td>
                    <td>
                      <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>
                    </td>
                  </tr>
                  <tr>
                    <td>24.08.2021, 19:00</td>
                    <td>Linux am Dienstag</td>
                    <td>
                      <a href="https://marius.bloggt-in-braunschweig.de/linux-am-dienstag/" target="_blank" title="Zum Event gehen">Linux am
                        Dienstag</a>
                    </td>
                  </tr>
                  <tr>
                    <td>25.08.2021, 19:00</td>
                    <td>Freifunk Braunschweig</td>
                    <td>
                      <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>
                    </td>
                  </tr>
                  <tr>
                    <td>25.08.2021, 19:00</td>
                    <td>Braunschweig Toastmasters</td>
                    <td>
                      <a href="https://tmclub.eu/view_agenda.php?t=159732" target="_blank" title="Zum Event gehen">BS Speaks</a>
                    </td>
                  </tr>
                  <tr>
                    <td>26.08.2021, 20:00</td>
                    <td>Digitalcourage Braunschweig</td>
                    <td>
                      <a href="https://stratum0.org/wiki/Digitalcourage_Braunschweig" target="_blank" title="Zum Event gehen">Offenes
                        Ortsgruppentreffen (online)</a>
                    </td>
                  </tr>
                  <tr>
                    <td>31.08.2021, 19:00</td>
                    <td>Linux am Dienstag</td>
                    <td>
                      <a href="https://marius.bloggt-in-braunschweig.de/linux-am-dienstag/" target="_blank" title="Zum Event gehen">Linux am
                        Dienstag</a>
                    </td>
                  </tr>
                  <tr>
                    <td>01.09.2021, 17:30 - 20:00</td>
                    <td>SCRUMTISCH Braunschweig</td>
                    <td>
                      <a href="https://www.xing.com/events/7-scrumtisch-braunschweig-3547013" target="_blank" title="Zum Event gehen">7.
                        SCRUMTISCH Braunschweig</a>
                    </td>
                  </tr>
                  <tr>
                    <td>01.09.2021, 19:00</td>
                    <td>Freifunk Braunschweig</td>
                    <td>
                      <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>
                    </td>
                  </tr>

                  <tr>
                    <td>07.09.2021, 19:00</td>
                    <td>Linux am Dienstag</td>
                    <td>
                      <a href="https://marius.bloggt-in-braunschweig.de/linux-am-dienstag/" target="_blank" title="Zum Event gehen">Linux am
                        Dienstag</a>
                    </td>
                  </tr>
                  <tr>
                    <td>07.09.2021, 17:00 - 19:00 Uhr</td>
                    <td>Hacktalk</td>
                    <td>
                      <a href="https://hacktalk.de/" target="_blank" title="Zum Event gehen">The Passionate Developer's Wishlist</a>
                    </td>
                  </tr>
                  <tr>
                    <td>08.09.2021, 19:00</td>
                    <td>Braunschweig Toastmasters</td>
                    <td>
                      <a href="https://tmclub.eu/view_agenda.php?t=159733" target="_blank" title="Zum Event gehen">BS Speaks</a>
                    </td>
                  </tr>
                  <tr>
                    <td>08.09.2021, 19:00</td>
                    <td>Freifunk Braunschweig</td>
                    <td>
                      <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>
                    </td>
                  </tr>
                  <tr>
                    <td>09.09.2021, 20:00</td>
                    <td>Digitalcourage Braunschweig</td>
                    <td>
                      <a href="https://stratum0.org/wiki/Digitalcourage_Braunschweig" target="_blank" title="Zum Event gehen">Offenes
                        Ortsgruppentreffen (online)</a>
                    </td>
                  </tr>
                  <tr>
                    <td>09.09. – 12.09.2021</td>
                    <td>Hacken Open Air</td>
                    <td>
                      <a href="https://hackenopenair.de/" target="_blank" title="Zum Event gehen">Hacken Open Air 2021</a>
                    </td>
                  </tr>
                  <tr>
                    <td>14.09.2021, 19:00</td>
                    <td>Linux am Dienstag</td>
                    <td>
                      <a href="https://marius.bloggt-in-braunschweig.de/linux-am-dienstag/" target="_blank" title="Zum Event gehen">Linux am
                        Dienstag</a>
                    </td>
                  </tr>
                  <tr>
                    <td>15.09.2021, 19:00</td>
                    <td>Freifunk Braunschweig</td>
                    <td>
                      <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>
                    </td>
                  </tr>
                  <tr>
                    <td>21.09.2021, 19:00</td>
                    <td>Linux am Dienstag</td>
                    <td>
                      <a href="https://marius.bloggt-in-braunschweig.de/linux-am-dienstag/" target="_blank" title="Zum Event gehen">Linux am
                        Dienstag</a>
                    </td>
                  </tr>
                  <tr>
                    <td>22.09.2021, 19:00</td>
                    <td>Braunschweig Toastmasters</td>
                    <td>
                      <a href="https://tmclub.eu/view_agenda.php?t=159734" target="_blank" title="Zum Event gehen">BS Speaks</a>
                    </td>
                  </tr>
                  <tr>
                    <td>23.09.2021, 20:00</td>
                    <td>Digitalcourage Braunschweig</td>
                    <td>
                      <a href="https://stratum0.org/wiki/Digitalcourage_Braunschweig" target="_blank" title="Zum Event gehen">Offenes
                        Ortsgruppentreffen (online)</a>
                    </td>
                  </tr>
                  <tr>
                  <td>28.09.2021, 19:00</td>
                  <td>Linux am Dienstag</td>
                  <td>
                    <a href="https://marius.bloggt-in-braunschweig.de/linux-am-dienstag/" target="_blank" title="Zum Event gehen">Linux am
                      Dienstag</a>
                  </td>
                </tr>
                  <tr>
                    <td>29.09.2021, 11:00 – 13:00</td>
                    <td>Cloudogu & Secure Code Warrior</td>
                    <td>
                      <a href="https://my.cloudogu.com/scw-tournament" target="_blank" title="Zum Event gehen">Secure Coding Turnier</a>
                    </td>
                  </tr>
                  <tr>
                    <td>29.09.2021, 19:00</td>
                    <td>Freifunk Braunschweig</td>
                    <td>
                      <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>
                    </td>
                  </tr>
                  <tr>
                    <td>05.10.2021, 19:00</td>
                    <td>Linux am Dienstag</td>
                    <td>
                      <a href="https://marius.bloggt-in-braunschweig.de/linux-am-dienstag/" target="_blank" title="Zum Event gehen">Linux am
                        Dienstag</a>
                    </td>
                  </tr>
                  <tr>
                    <td>06.10.2021, 19:00</td>
                    <td>Freifunk Braunschweig</td>
                    <td>
                      <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>
                    </td>
                  </tr>
                  <tr>
                    <td>07.10.2021, 20:00</td>
                    <td>Digitalcourage Braunschweig</td>
                    <td>
                      <a href="https://stratum0.org/wiki/Digitalcourage_Braunschweig" target="_blank" title="Zum Event gehen">Offenes
                        Ortsgruppentreffen (online)</a>
                    </td>
                  </tr>
                  <tr>
                    <td>12.10.2021, 19:00</td>
                    <td>Linux am Dienstag</td>
                    <td>
                      <a href="https://marius.bloggt-in-braunschweig.de/linux-am-dienstag/" target="_blank" title="Zum Event gehen">Linux am
                        Dienstag</a>
                    </td>
                  </tr>
                  <tr>
                    <td>13.10.2021, 19:00</td>
                    <td>Braunschweig Toastmasters</td>
                    <td>
                      <a href="https://tmclub.eu/view_agenda.php?t=159735" target="_blank" title="Zum Event gehen">BS Speaks</a>
                    </td>
                  </tr>
                  <tr>
                    <td>13.09.2021, 19:00</td>
                    <td>Freifunk Braunschweig</td>
                    <td>
                      <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>
                    </td>
                  </tr>
                  <tr>
                    <td>19.10.2021, 19:00</td>
                    <td>Linux am Dienstag</td>
                    <td>
                      <a href="https://marius.bloggt-in-braunschweig.de/linux-am-dienstag/" target="_blank" title="Zum Event gehen">Linux am
                        Dienstag</a>
                    </td>
                  </tr>
                  <tr>
                    <td>20.10.2021, 19:00</td>
                    <td>Freifunk Braunschweig</td>
                    <td>
                      <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>
                    </td>
                  </tr>
                  <tr>
                    <td>21.10.2021, 20:00</td>
                    <td>Digitalcourage Braunschweig</td>
                    <td>
                      <a href="https://stratum0.org/wiki/Digitalcourage_Braunschweig" target="_blank" title="Zum Event gehen">Offenes
                        Ortsgruppentreffen (online)</a>
                    </td>
                  </tr>
                  <tr>
                    <td>26.10.2021, 17:00 - 19:00 Uhr</td>
                    <td>Hacktalk</td>
                    <td>
                      <a href="https://hacktalk.de/" target="_blank" title="Zum Event gehen">Die eigene Photovoltaik-Anlage und was man damit alles machen kann</a>
                    </td>
                  </tr>
                  <tr>
                    <td>26.10.2021, 19:00</td>
                    <td>Linux am Dienstag</td>
                    <td>
                      <a href="https://marius.bloggt-in-braunschweig.de/linux-am-dienstag/" target="_blank" title="Zum Event gehen">Linux am
                        Dienstag</a>
                    </td>
                  </tr>
                  <tr>
                    <td>27.10.2021, 19:00</td>
                    <td>Braunschweig Toastmasters</td>
                    <td>
                      <a href="https://tmclub.eu/view_agenda.php?t=159737" target="_blank" title="Zum Event gehen">BS Speaks</a>
                    </td>
                  </tr>
                  <tr>
                    <td>03.11.2021, 17:30 - 20:00</td>
                    <td>SCRUMTISCH Braunschweig</td>
                    <td>
                      <a href="https://www.xing.com/events/8-scrumtisch-braunschweig-3590061" target="_blank" title="Zum Event gehen">8. SCRUMTISCH Braunschweig</a>
                    </td>
                  </tr>
                  <tr>
                    <td>03.11.2021, 17:00 - 18:00 Uhr</td>
                    <td>Qlik Meetup - Braunschweig / Hannover</td>
                    <td>
                      <a href="https://www.meetup.com/de-DE/Qlik-Meetup-Braunschweig-Hannover/events/281226001/"
                         target="_blank" title="Zum Event gehen">Virtuelles Qlik Meetup #6</a>
                    </td>
                  </tr>
                  <tr>
                    <td>03.11.2021, 19:00</td>
                    <td>Freifunk Braunschweig</td>
                    <td>
                      <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>
                    </td>
                  </tr>
                  <tr>
                    <td>04.11.2021, 20:00</td>
                    <td>Digitalcourage Braunschweig</td>
                    <td>
                      <a href="https://stratum0.org/wiki/Digitalcourage_Braunschweig" target="_blank" title="Zum Event gehen">Offenes
                        Ortsgruppentreffen (online)</a>
                    </td>
                  </tr>
                  <tr>
                    <td>09.11.2021, 19:00</td>
                    <td>Linux am Dienstag</td>
                    <td>
                      <a href="https://marius.bloggt-in-braunschweig.de/linux-am-dienstag/" target="_blank" title="Zum Event gehen">Linux am
                        Dienstag</a>
                    </td>
                  </tr>
                  <tr>
                    <td>10.11.2021, 19:00</td>
                    <td>Braunschweig Toastmasters</td>
                    <td>
                      <a href="https://tmclub.eu/view_agenda.php?t=159738" target="_blank" title="Zum Event gehen">BS Speaks</a>
                    </td>
                  </tr>
                  <tr>
                    <td>10.11.2021, 19:00</td>
                    <td>Freifunk Braunschweig</td>
                    <td>
                      <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>
                    </td>
                  </tr>

                </table>
              </div>
            </div>
          </div>

          <div class="tab-pane fade active show" id="future" role="tabpanel" aria-labelledby="future-tab">
            <div class="card">
              <div class="card-body">
                <table class="table table-responsive-md table-striped table-hover">
                  <thead>
                  <tr>
                    <th scope="col">Datum</th>
                    <th scope="col">Gruppe</th>
                    <th scope="col">Thema/Event</th>
                  </tr>
                  </thead>

                  <tr>
                    <td>16.11.2021, 19:00</td>
                    <td>Linux am Dienstag</td>
                    <td>
                      <a href="https://marius.bloggt-in-braunschweig.de/linux-am-dienstag/" target="_blank" title="Zum Event gehen">Linux am
                        Dienstag</a>
                    </td>
                  </tr>
                  <tr>
                    <td>17.11.2021, 19:00</td>
                    <td>Freifunk Braunschweig</td>
                    <td>
                      <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>
                    </td>
                  </tr>
                  <tr>
                    <td>18.11.2021, 20:00</td>
                    <td>Digitalcourage Braunschweig</td>
                    <td>
                      <a href="https://stratum0.org/wiki/Digitalcourage_Braunschweig" target="_blank" title="Zum Event gehen">Offenes
                        Ortsgruppentreffen (online)</a>
                    </td>
                  </tr>
                  <tr>
                    <td>23.11.2021, 19:00</td>
                    <td>Linux am Dienstag</td>
                    <td>
                      <a href="https://marius.bloggt-in-braunschweig.de/linux-am-dienstag/" target="_blank" title="Zum Event gehen">Linux am
                        Dienstag</a>
                    </td>
                  </tr>
                  <tr>
                    <td>24.11.2021, 19:00</td>
                    <td>Braunschweig Toastmasters</td>
                    <td>
                      <a href="https://tmclub.eu/view_agenda.php?t=159738" target="_blank" title="Zum Event gehen">BS Speaks</a>
                    </td>
                  </tr>
                  <tr>
                    <td>24.11.2021, 19:00</td>
                    <td>Freifunk Braunschweig</td>
                    <td>
                      <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>
                    </td>
                  </tr>
                  <tr>
                    <td>30.11.2021, 19:00</td>
                    <td>Linux am Dienstag</td>
                    <td>
                      <a href="https://marius.bloggt-in-braunschweig.de/linux-am-dienstag/" target="_blank" title="Zum Event gehen">Linux am
                        Dienstag</a>
                    </td>
                  </tr>
                  <tr>
                    <td>01.12.2021, 19:00</td>
                    <td>Freifunk Braunschweig</td>
                    <td>
                      <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>
                    </td>
                  </tr>
                  <tr>
                    <td>02.12.2021, 20:00</td>
                    <td>Digitalcourage Braunschweig</td>
                    <td>
                      <a href="https://stratum0.org/wiki/Digitalcourage_Braunschweig" target="_blank" title="Zum Event gehen">Offenes
                        Ortsgruppentreffen (online)</a>
                    </td>
                  </tr>
                  <tr>
                    <td>07.12.2021, 17:00 - 19:00 Uhr</td>
                    <td>Hacktalk</td>
                    <td>
                      <a href="https://hacktalk.de/" target="_blank" title="Zum Event gehen">Digitale Souveränität – so geht‘s </a>
                    </td>
                  </tr>
                  <tr>
                    <td>08.12.2021, 19:00</td>
                    <td>Braunschweig Toastmasters</td>
                    <td>
                      <a href="https://tmclub.eu/view_agenda.php?t=159738" target="_blank" title="Zum Event gehen">BS Speaks</a>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divider divider-bottom bg-primary"></div>
</section>
