
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="alert alert-warning mb-5 mt-5 text-center">
          Dies ist die archivierte Event-Seite des ersten Braunschweiger IT Barcamps vom 16.11.2019
        </p>
      </div>
    </div>
  </div>


<section class="single-header text-white">
  <h2>Impressionen</h2>
</section>

<section class="impressions">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-xl-10">
        <p-galleria [autoPlay]="false"
                    [images]="impressions"
                    panelWidth="1024"
                    panelHeight="683"
                    [showCaption]="true"
                    class="conf2019-galleria"></p-galleria>

        <h2>Einige Zahlen</h2>

        <ul style="list-style: none">
          <li>82 Besucher</li>
          <li>9 Sponsoren</li>
          <li>1 Gewinnspiel</li>
          <li>9 Community-Gruppen</li>
          <li>50kg Chilli</li>
          <li>150 Brötchen</li>
          <li>5 zerbrochene Gläser</li>
          <li>... und ganze <strong>640 €</strong> gesammelte Spenden für Digitalcourage!</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<header>
  <img src="/assets/images/conference/conference_banner_2019.png" class="banner">
</header>
<div class="conf-content pt-5">
  <div class="conf-content__tile">
    <img src="/assets/images/conference/save-file-option.svg">
    <h3 class="ml-0">Save the Date</h3>
    <p>
      Die ITHub-Konferenz findet am 16.11.2019 im
      Haus der Kulturen in Braunschweig statt. <b>Einlass ist 08:30</b>, die Veranstaltung lassen wir
      um 18:00 Uhr ausklingen.
    </p>
  </div>
  <div class="conf-content__tile">
    <img src="/assets/images/conference/support.svg">
    <h3 class="ml-0">Barcamp-Format?</h3>
    <p>
      Beim Barcamp bringen die Besucher selbst Vorträge
      und Ideen für Sessions mit und können abstimmen,
      welchen Beitrag sie hören möchten.
    </p>
  </div>
  <div class="conf-content__tile">
    <img src="/assets/images/conference/terminal.svg">
    <h3 class="ml-0">Die Themen</h3>
    <p>
      IT im Fokus: Die Themen reichen von Java und Docker
      über Crypto und Keepass zu Git und Open Source &mdash;
      auch bis zu gesell&shy;schaftlichen Fragen.
    </p>
  </div>
  <div class="conf-content__tile">
    <img src="/assets/images/conference/brain.svg">
    <h3 class="ml-0">Und wer kommt?</h3>
    <p>
      Alle sind eingeladen: Entwickler&shy;Innen, Studis,
      Azubis, routinierte Profi&shy;programmierer&shy;Innen und
      interessierte Anfänger. In 2 Slots werden
      unter&shy;schiedliche anspruchs&shy;volle Themen in
      variabler Tiefe vorgestellt.
    </p>
  </div>
  <div class="conf-content__tile">
    <img src="/assets/images/conference/solidarity.svg">
    <h3 class="ml-0">Für den guten Zweck</h3>
    <p>
      Den Erlös der Veranstaltung spenden wir an den
      Digitalcourage e.V. und unterstützen damit ihre
      wichtige Aufklärungsarbeit.
    </p>
  </div>
  <div class="conf-content__tile">
    <img src="/assets/images/conference/code.svg">
    <h3 class="ml-0">Das Orgateam</h3>
    <p>
      Wir sind ein passioniertes Team mit ganz
      verschiedenen Hintergründen &mdash; unser
      Wunsch ist es, die Braunschweiger IT eng zu
      vernetzen und damit einen IT-Hub zu schaffen.
    </p>
  </div>
</div>

<section class="tickets">
  <div class="single-header">
    <div class="container text-white">
      <div class="row justify-content-center text-center">
        <div class="col">
          <h2>Tickets</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col">
        <div class="pt-5 text-center">
          Vorverkauf endete am 07.11.2019.<br> Kurzentschlossene können am Veranstaltungstag vor Ort ein Ticket für 10€ erhalten.
        </div>
      </div>
    </div>
  </div>

</section>


<section class="hdk single-header text-white">
  <h2>Im Haus der Kulturen</h2>
</section>

<div class="conf-content pt-5">
  <div class="conf-content__tile">
    <img src="/assets/images/conference/verpflegung.svg">
    <h3 class="ml-0">Verpflegung</h3>
    <p>
      Es ist für alles gesorgt! Nach einem langen Frühstücksbuffet gibt es zur Mittagszeit deftiges Chili con und sin carne. Während des gesamten Tages gibt es außerdem kostenfreie Heiß- und Kaltgetränke.
    </p>
  </div>
  <div class="conf-content__tile ">
    <img src="/assets/images/conference/räume.svg">
    <h3 class="ml-0">Räumlichkeiten</h3>
    <p>
      Das <a href="http://www.hdk-bs.de" target="_blank">Haus der Kulturen</a> bietet reichlich Räume, sodass wir mehrere Vorträge parallel anbieten können! Dabei gibt es auch sehr kleine Räume, in denen zum Beispiel zu dritt in Ruhe gearbeitet werden kann.
    </p>
  </div>
  <div class="conf-content__tile">
    <img src="/assets/images/conference/barrierefreiheit.svg">
    <h3 class="ml-0">Barrierefreiheit</h3>
    <p>
      Leider ist unsere Location nicht vollständig barrierefrei. Das Untergeschoss ist über Rampen erreichbar, hier finden die meisten Vorträge statt. Jedoch gibt es keinen Fahrstuhl ins Obergeschoss. Falls du auf Barrierefreiheit angewiesen bist, kontaktiere uns vor der Konferenz unter <a href="mailto:vorstand@ithubbs.de">vorstand@ithubbs.de</a>
    </p>
  </div>
</div>

<section class="topics-header single-header text-white">
  <h2>Angebotene Themen</h2>
</section>

<section class="topics">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col">

        <p class="topics__intro">
          Das Barcamp ist natürlich ein Barcamp! Ihr werdet also zu Beginn der Veranstaltung auswählen können, welche Themen
          euch am meisten interessieren. Hier seht ihr bereits angemeldete Speaker und worüber sie sprechen möchten.
          Kommt gern auf uns zu, falls ihr euer Thema hier ebenfalls schonmal auflisten möchtet!
        </p>

      </div>
    </div>
  </div>
  <h2 class="topics__keynote__header level2 text-white">Keynote</h2>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <div class="topics__keynote mt-5">
          <figure>
            <img src="/assets/images/portraits/steven.png" alt="Steven">
            <figcaption>Steven Schwenke</figcaption>
          </figure>
          <h3>Wir sehen uns bei der User Group! Ein Blick auf IT-Communities.</h3>
          <p>
            Es passiert immer wieder: In Gesprächen über meine Berufung – meinem Job als Software Craftsman – kommt man
            früher oder später auf Communities zu sprechen. Ich bin dann oft nicht zu halten und schwärme davon, wie
            wichtig diese sind und wie sie die Branche (mit) vorantreiben. Oft ernte ich verständnislose Blicke und muss
            mich erklären, was nicht immer einfach ist. In diesem Vortrag berichte ich ganz konkret von meinen
            Erfahrungen mit "bunten Hunden der Szene", warum Mentoring einer meiner Ultra-Hacks war und warum Community
            und Wirtschaft zwingend zusammenarbeiten müssen.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col">
      </div>
    </div>
  </div>

  <section class="topics__track junior pt-5">
    <div class="topics__track__title level2">
      <h2>Best Practice and Junior Track</h2>
      <p class="topics__track__desc">
        Du bist Student, Azubi oder Junior Developer? Perfekt! Diese Themen sind so geschnitten, dass du in kürzeren
        Vorträgen spezifische, anwendbare Inhalte vermittelt bekommst und direkt nach der Konferenz ein
        besserer Entwickler bist.
      </p>
    </div>

    <p-carousel headerText="Best practice and junior track" [value]="talksBestPractice">
      <ng-template let-talk pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
          <div class="ui-grid-row">
            <div class="ui-grid-col-12"><img img class="round" src="assets/images/portraits/{{talk.portrait}}"></div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-12"><div class="talk-slider-speaker">{{talk.speaker}}</div></div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-12 font-weight-light" [innerHTML]=talk.text></div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </section>

  <section class="topics__track expert pt-5">
    <div class="topics__track__title level2">
      <h2>Expert Track</h2>
      <p class="topics__track__desc">
        Entwickler und Seniors lernen in längeren Vorträgen neue und komplexe Themen. Das ist im Prinzip das, was
        du auf den anderen Fachkonferenzen auch findest.
      </p>
    </div>

    <p-carousel headerText="Best practice and junior track" [value]="talksExpert">
      <ng-template let-talk pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
          <div class="ui-grid-row">
            <div class="ui-grid-col-12"><img class="round" src="assets/images/portraits/{{talk.portrait}}"></div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-12"><div class="talk-slider-speaker">{{talk.speaker}}</div></div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-12 font-weight-light" [innerHTML]=talk.text></div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </section>

  <section class="topics__track community pt-5">
    <div class="topics__track__title level2">
      <h2>Commmunity Track</h2>
      <p class="topics__track__desc">
        Das Hub wäre ohne die Community ziemlich leer. Deshalb möchten wir alles, was mit diesem
        wagen Begriff zu tun hat, hier einen eigenen Raum geben.
      </p>
    </div>

    <p-carousel headerText="Best practice and junior track" [value]="talksCommunity">
      <ng-template let-talk pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
          <div class="ui-grid-row">
            <div class="ui-grid-col-12"><img class="round" src="assets/images/portraits/{{talk.portrait}}"></div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-12"><div class="talk-slider-speaker">{{talk.speaker}}</div></div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-12 font-weight-light" [innerHTML]=talk.text></div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </section>

</section>

<section class="sponsors__header single-header text-white pt-5">
  <h2>Sponsoren</h2>
</section>

<section class="sponsors">
  <p>
    Wir danken unseren Sponsoren, die es uns ermöglichen, ein großartiges Event auf die Beine zu stellen!
  </p>
  <section class="sponsors__gold pt-0 pb-5">
    <h3>Gold</h3>
    <ol>
      <li>
        <a href="//inwerken.de" rel="noreferrer" target="_blank">
          <img src="/assets/images/conference/inwerken-300.png" alt="INWERKEN">
        </a>
      </li>
      <li>
        <a href="//bredex.de" rel="noreferrer" target="_blank">
          <img src="/assets/images/conference/bredex.svg" alt="BREDEX">
        </a>
      </li>
      <li>
        <a href="//triology.de" rel="noreferrer" target="_blank">
          <img src="/assets/images/conference/triology-300.jpg" alt="TRIOLOGY GmbH">
        </a>
      </li>
	  <li>
        <a href="//eckcellent-it.de" rel="noreferrer" target="_blank">
          <img src="/assets/images/conference/eckcellent-300.png" alt="eck*celllent IT">
        </a>
      </li>
    </ol>
  </section>
  <section class="sponsors__silver mt-0 pt-0 pb-5">
    <h3>Silber</h3>
    <ol>
      <li>
        <a href="//smartsquare.de" rel="noreferrer" target="_blank">
          <img src="/assets/images/conference/smartsquare-150.png" alt="Smartsquare">
        </a>
      </li>
      <li>
        <a href="//hidden-games.de/escape-room-braunschweig" rel="noreferrer" target="_blank">
          <img src="/assets/images/conference/hidden-150.jpg" alt="Hidden">
        </a>
      </li>

      <li>
        <a href="//exxeta.com" rel="noreferrer" target="_blank">
          <img src="/assets/images/conference/exxeta-150.png" alt="Exxeta">
        </a>
      </li>
      <li>
        <a href="//fme.de" rel="noreferrer" target="_blank">
          <img src="/assets/images/conference/fme-150.jpg" alt="fme">
        </a>
      </li>
      <li>
        <a href="//netzlink.com" rel="noreferrer" target="_blank">
          <img src="/assets/images/conference/netzlink-150.png" alt="netzlink">
        </a>
      </li>
    </ol>
  </section>
</section>
<section class="team">
  <h2 class="text-white">Das Team</h2>
  <ol>
    <li>
      <figure>
        <img src="/assets/images/portraits/steven.png" alt="Steven">
        <figcaption>Steven</figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="/assets/images/portraits/olli.png" alt="Olli">
        <figcaption>Olli</figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="/assets/images/portraits/josha.png" alt="Josha">
        <figcaption>Josha</figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="/assets/images/portraits/rebecca.png" alt="Rebecca">
        <figcaption>Rebecca</figcaption>
      </figure>
    </li>
  </ol>
</section>

<section class="contact">
  <h2>Kontakt</h2>

  <p>
    Du hast Fragen, Anmerkungen, Vorschläge? Wir freuen uns darauf! Du erreichst uns
    per Mail unter <a href="mailto:vorstand@ithubbs.de">vorstand@ithubbs.de</a>.
  </p>
  <p class="contact__socialmedia">
    Oder du kontaktierst uns über unsere Social Media Kanäle:
    <br>

    <a href="https://twitter.com/ithubbs" target="_blank">
      <img src="/assets/images/conference/twitter_white.svg" alt="Twitter">
    </a>

    <a href="https://www.xing.com/communities/groups/it-hub-braunschweig-1113033" target="_blank">
      <img src="/assets/images/conference/xing.svg" alt="xing">
    </a>
  </p>

</section>

<div class="divider divider-bottom bg-primary"></div>
