<section class="pb-0 pt-5 border-top" style="z-index: 2;">
  <div class="container">
    <div class="row section-title justify-content-center mb-5">

      <div class="col-md-9 col-lg-8 col-xl-12">

        <div class="row">
          <div class="col-md-9 col-lg-8 col-xl-2">
            <div>
              <a href="/admin/events">
              <img src="assets/images/icons/interface/icon-arrow-right.svg" alt="Twitter" class="icon icon-sm">
              Administer Events
              </a>
            </div>

          </div>
          <div class="col-md-9 col-lg-8 col-xl-3">
            <div>
              <a href="/admin/groups">
              <img src="assets/images/icons/interface/icon-arrow-right.svg" alt="Twitter" class="icon icon-sm">
              Administer Groups
              </a>
            </div>
          </div>

          <div class="col-md-9 col-lg-8 col-xl-7">
            <div>


              <p align="right">
                <button
                  id="logoutbutton"
                  (click)="logout()"
                  class="btn btn-dark btn-sm background-attention"
                  style="margin-right: 10px"
                >
              <span style="font-weight: bold">
              <fa-icon [icon]="faSignOutAlt"></fa-icon>
              Logout {{loginUser}}
              </span>
                </button>
              </p>
            </div>
          </div>

        </div>
        <hr>
        <p-toast></p-toast>


<div class="text-center">
<h1>Admin-Ansicht der Events</h1>

<p-overlayPanel
  #overlay
  [showCloseIcon]="true"
  [dismissable]="false"
  class="ui-overlay-wrapper">
  <h3 id="newEventHeader">Neues Event</h3>
  <form [formGroup]="newEventForm" (ngSubmit)="onAddNewEvent($event, newEventForm, overlay)">
    <div class="container">
      <div class="row text-left">
        <div class="col-lg-8 pb-2">
      <label for="newEventName" class="mt-2">Name</label>
      <p-message severity="error" text="darf nicht leer sein" *ngIf="!newEventForm.controls['newEventName'].valid&&newEventForm.controls['newEventName'].dirty"></p-message>
      <input class="col"
             type="text"
             id="newEventName"
             size="100"
             formControlName="newEventName"
             title="Name"
             placeholder="Pflichtfeld">
        </div>
        <div class="col-lg-4 pb-2">

      <label for="newEventDate" class="mt-2">Datum</label>
      <p-message severity="error" text="darf nicht leer sein" *ngIf="!newEventForm.controls['newEventDate'].valid&&newEventForm.controls['newEventDate'].dirty"></p-message>
      <br>
      <p-calendar class="col pl-0"
                  id="newEventDate"
                  [showIcon]="true"
                  formControlName="newEventDate"
                  [showTime]="true"></p-calendar>
      <br>
        </div>
        <div class="col-lg-8 pb-2">
      <label for="newEventURL" class="mt-2">URL</label>
      <p-message severity="error" text="darf nicht leer sein" *ngIf="!newEventForm.controls['newEventURL'].valid&&newEventForm.controls['newEventURL'].dirty"></p-message>
      <input class="col"
             type="text"
             id="newEventURL"
             size="300"
             formControlName="newEventURL"
             title="URL"
             placeholder="Pflichtfeld">
        </div>
        <div class="col-lg-4 pb-2">
      <label for="newEventGroup" class="mt-2">Gruppe</label>
      <br>
      <p-autoComplete
        id="newEventGroup"
        formControlName="newEventGroup"
        [suggestions]="availableGroupsAfterFiltering"
        (completeMethod)="search($event)"
        field="name"
        (onSelect)="selectGroup($event)"
        [dropdown]="true"></p-autoComplete>
      <br>
        </div>
        <div class="col-lg-12 pb-2">
      <p-checkbox value="false" formControlName="newEventGeneralPublic" label="General Public Event" binary="true"></p-checkbox>
      <br>
        </div>
        <div class="col-lg-12 text-center">
      <button
        id="newEventSubmitButton"
        class="btn btn-primary mt-3 mb-2" [disabled]="!newEventForm.valid">
        Speichern
      </button>
        </div>
    </div>
    </div>
  </form>
</p-overlayPanel>

        <div class="m-3">
          <button
            id="createNewEventButton"
            (click)="overlay.toggle($event)"
            class="btn btn-primary">
            <span style="font-weight: bold">
              <fa-icon [icon]="faPlus" class="mr-2"></fa-icon> Neues Event anlegen
            </span>
          </button>
        </div>


<p-confirmDialog id="confirmationDialog" header="DANGER ZONE" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<p-dialog
  #overlayEditEvent
  header="Event editieren"
  [transitionOptions]="'0ms'"
  [(visible)]="displayEventEditDialog">
  <form [formGroup]="editEventForm" (ngSubmit)="onSaveEditedEvent($event, editEventForm)">
    <div class="container">
      <input [hidden]="true"
             formControlName="existingEventId">
      <label for="existingEventName" style="margin-top: 10px">Name</label>
      <p-message severity="error" text="darf nicht leer sein" *ngIf="!editEventForm.controls['existingEventName'].valid&&editEventForm.controls['existingEventName'].dirty"></p-message>
      <input class="col"
             type="text"
             id="existingEventName"
             size="100"
             formControlName="existingEventName"
             title="Name"
             placeholder="Pflichtfeld">

      <label for="existingEventDate" style="margin-top: 10px">Datum</label>
      <p-message severity="error" text="darf nicht leer sein" *ngIf="!editEventForm.controls['existingEventDate'].valid&&editEventForm.controls['existingEventDate'].dirty"></p-message>
      <br>
      <p-calendar class="col"
                  id="existingEventDate"
                  [showIcon]="true"
                  formControlName="existingEventDate"
                  [showTime]="true"></p-calendar>
      <br>

      <label for="existingEventURL" style="margin-top: 10px">URL</label>
      <p-message severity="error" text="darf nicht leer sein" *ngIf="!editEventForm.controls['existingEventURL'].valid&&editEventForm.controls['existingEventURL'].dirty"></p-message>
      <input class="col"
             type="text"
             id="existingEventURL"
             size="300"
             formControlName="existingEventURL"
             title="URL"
             placeholder="Pflichtfeld">
      <label for="existingEventGroup" style="margin-top: 10px">Gruppe</label>
      <br>
      <p-autoComplete
        id="existingEventGroup"
        formControlName="existingEventGroup"
        [suggestions]="availableGroupsAfterFiltering"
        (completeMethod)="search($event)"
        field="name"
        (onSelect)="selectGroup($event)"
        [dropdown]="true"></p-autoComplete>
      <br>
      <p-checkbox
        id="existingEventGeneralPublic"
        value="false"
        formControlName="existingEventGeneralPublic"
        label="General Public Event"
        binary="true"></p-checkbox>
      <br>
      <button
        id="existingEventSubmitButton"
        class="btn btn-primary" [disabled]="!editEventForm.valid">
        Speichern
      </button>
    </div>
  </form>
</p-dialog>

  <div class="btn-group btn-group-toggle" role="group">
  <span *ngFor="let year of years">
    <button id="yearFilter_{{year}}" type="button" class="btn btn-success" (click)="selectYear(year)">{{year}}</button>
  </span>
    <button id="yearFilterFuture" type="button" class="btn btn-success" (click)="selectYear(0)">künftige</button>
  </div>
</div>

  <table class="grouptable table table-responsive-md table-striped table-hover mt-5">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Datum</th>
        <th scope="col">Gruppe</th>
        <th scope="col">Event</th>
        <th scope="col">Action</th>
      </tr>
    </thead>

    <tr *ngFor="let event of events">
      <td id="eventID_{{event.id}}" class="eventtableidcolumn">{{event.id}}</td>
      <td id="eventDate_{{event.id}}">{{event.datetime  | date:'EEEE, dd.MM.yyyy HH:mm'}}</td>
      <td id="eventGroup_{{event.id}}"><a *ngIf="event.group" href="{{event.group.url}}" target="_blank">{{event.group.name}}</a></td>
      <td>
        <a href="{{event.url}}" id="eventURL_{{event.id}}" target="_blank">{{event.name}}</a>
        <span
          *ngIf="event.generalPublic"
          pTooltip="Event ist nicht zu technisch und damit für die breite Öffentlichkeit geeignet."
          style="margin-left: 10px"
          id="eventGeneralPublic_{{event.id}}">
        <img src="/assets/images/public-interest-icon.png" width="20px">
      </span>
    </td>
    <td>
      <button
        id="editExistingEventButton_{{event.id}}"
        (click)="onEditEvent(editEventForm, event)"
        class="btn btn-primary"
        style="margin-top: -5px">
        <fa-icon [icon]="faEdit"></fa-icon>
      </button>
      <button
        id="deleteExistingEventButton_{{event.id}}"
        (click)="onDeleteEvent(event)"
        class="btn btn-primary background-attention"
        style="margin-top: -5px; margin-left: 10px">
        <fa-icon [icon]="faRadiation"></fa-icon>
      </button>
    </td>
  </tr>

        </table>

      </div>
    </div>
  </div>

</section>


