<section class="text-white pb-0 bg-gradient o-hidden">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-xl-10">
        <h1 class="display-3">IT-Barcamp Braunschweig</h1>
        <p class="lead mb-0">»Learning together, learning forever«</p>
      </div>
    </div>
  </div>
  <div class="divider divider-bottom bg-white"></div>
</section>

<section class="pb-0 o-hidden">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="alert alert-danger mb-5 text-center">
          Zweites Braunschweiger IT Barcamp – aufgrund Corona abgesagt!
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-lg-5 mb-md-0 conf-content__tile">
        <img src="/assets/images/conference/save-file-option.svg" alt="Icon – Darstellung einer Diskette">
        <h3 class="ml-0">Save the Date</h3>
        <p>
          Die IT-Hub-Konferenz findet <strong>jedes Jahr am ersten Samstag im November</strong> statt,
          in 2020 also am 07.11.2020 im Haus der Kulturen in Braunschweig.
          Einlass ist 08:30, die Veranstaltung lassen wir um 18:00 Uhr ausklingen.
        </p>
      </div>
      <div class="col-md-4 mb-lg-5 mb-md-0 conf-content__tile">
        <img src="/assets/images/conference/support.svg" alt="Icon – Darstellung von Sprechblasen">
        <h3 class="ml-0">Barcamp-Format?</h3>
        <p>
          Beim Barcamp bringen die Besucher selbst Vorträge
          und Ideen für Sessions mit und können abstimmen,
          welchen Beitrag sie hören möchten.
        </p>
      </div>
      <div class="col-md-4 mb-lg-5 mb-md-0 conf-content__tile">
        <img src="/assets/images/conference/solidarity.svg" alt="Icon – Darstellung von zwei Händen die ein Herz halten">
        <h3 class="ml-0">Für den guten Zweck</h3>
        <p>
          Den Erlös der Veranstaltung spenden wir an den
          Digitalcourage e.V. und unterstützen damit ihre
          wichtige Aufklärungsarbeit.
        </p>
      </div>
      <div class="col-md-4 mb-lg-5 mb-md-0 conf-content__tile">
        <img src="/assets/images/conference/code.svg" alt="Icon – Darstellung von Codeklammern">
        <h3 class="ml-0">Das Orgateam</h3>
        <p>
          Wir sind ein passioniertes Team mit ganz
          verschiedenen Hintergründen &mdash; unser
          Wunsch ist es, die Braunschweiger IT eng zu
          vernetzen und damit einen IT-Hub zu schaffen.
        </p>
      </div>
    </div>
    </div>
</section>

<section class="hdk pt-3 pb-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="single-header text-white">
        <h2>Im Haus der Kulturen</h2>
      </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mb-lg-5 mb-md-0 conf-content__tile">
        <img src="/assets/images/conference/räume.svg" alt="Icon – Darstellung eines Hauses">
        <h3 class="ml-0">Räumlichkeiten</h3>
        <p>
          Das <a href="http://www.hdk-bs.de" target="_blank" title="Gehe zur Website des Haus der Kulturen">Haus der Kulturen</a> bietet reichlich Räume, sodass wir mehrere Vorträge parallel anbieten können! Dabei gibt es auch sehr kleine Räume, in denen zum Beispiel zu dritt in Ruhe gearbeitet werden kann.
        </p>
      </div>
      <div class="col-md-4 mb-lg-5 mb-md-0 conf-content__tile">
        <img src="/assets/images/conference/barrierefreiheit.svg" alt="Icon – Darstellung einer Treppe">
        <h3 class="ml-0">Barrierefreiheit</h3>
        <p>
          Leider ist unsere Location nicht vollständig barrierefrei. Das Untergeschoss ist über Rampen erreichbar, hier finden die meisten Vorträge statt. Jedoch gibt es keinen Fahrstuhl ins Obergeschoss. Falls du auf Barrierefreiheit angewiesen bist, kontaktiere uns vor der Konferenz unter <a href="mailto:vorstand@ithubbs.de" title="Schreibe dem Vorstand eine E-Mail">vorstand@ithubbs.de</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="single-header text-white">
        <h2>Vergangene Veranstaltungen</h2>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="text-center pt-5">
          <a [routerLink]="'/conference2019'" class="btn btn-md btn-primary" title="Sie dir die Informationen zum Barcamp 2019 an">So sah das Barcamp 2019 aus!</a>
        </p>
      </div>
    </div>

  </div>
</section>


<section class="contact pt-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <hr>
        <h2>Kontakt</h2>

        <p>
          Du hast Fragen, Anmerkungen, Vorschläge? Wir freuen uns darauf! Du erreichst uns
          per Mail unter <a href="mailto:vorstand@ithubbs.de" title="Schreibe dem Vorstand eine E-Mail">vorstand@ithubbs.de</a>.
        </p>
        <p class="contact__socialmedia">
          Oder du kontaktierst uns über unsere Social Media Kanäle:
          <br>

          <a href="https://twitter.com/ithubbs" target="_blank" title="Besuche uns auf Twitter">
            <img src="/assets/images/conference/twitter_white.svg" alt="Twitter" alt="Icon mit Twitter Logo">
          </a>

          <a href="https://www.xing.com/communities/groups/it-hub-braunschweig-1113033" target="_blank" title="Besuche uns auf Xing">
            <img src="/assets/images/conference/xing.svg" alt="xing"  alt="Icon mit Xing Logog">
          </a>
        </p>
      </div>
    </div>
  </div>
</section>

<div class="divider divider-bottom bg-primary"></div>
