<section class="text-white pb-0 bg-gradient o-hidden">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-xl-10">
        <h3 class="h1">Wissen für Communities</h3>

      </div>
    </div>
  </div>
  <div class="divider divider-bottom bg-white"></div>
</section>
<section class="pb-0">
  <div class="container">
    <div class="row justify-content-between align-items-start">
      <div class="col-lg-12 mb-4 mb-lg-0">
        <div class="row justify-content-center">
          <div class="col-xl-10">
            <h1>Best Practices für virtuell durchgeführte Community-Treffen</h1>
            <h2 class="lead">Beim ersten „IT-Hub Exchange“ Treffen am 26.11.2020 tauschten sich 9 Organisatoren von Community-Gruppen aus Braunschweig über die Durchführung virtueller Gruppentreffen aus.
              <br><br>
              Aufgrund der Corona-Pandemie haben viele Gruppen ihre Aktivitäten heruntergefahren. Andere haben virtuelle (auch online, remote, verteilte oder digitale) Treffen durchgeführt, bei denen die Teilnehmer sich nicht in einem Raum begegnen, sondern sich über Tools wie Zoom oder Jitsi treffen. Dieser Artikel fasst die wichtigsten Gedanken des ersten IT-Hub Exchange zusammen und soll somit die Organisation virtueller Treffen erleichtern.
            </h2>
            <!--<div class="align-items-center mt-4 mt-md-5">
              <div>Veröffentlicht: 12. Februar 2021</div>
              <div class="text-muted">Aktualisiert: 30. Mai 2021</div>
            </div>-->
            <hr class="my-md-4 my-lg-5">
            <div class="row">
              <div class="col-xl-auto mr-xl-5">
                <h5>Inhalt</h5>
                <ol class="pl-3 flex-row flex-md-column mb-0">
                  <li class="mr-3 mr-md-0">
                    <a href="#section1" class="nav-link fade-page px-0 py-2" title="Zum Abschnitt Gründe für Zurückhaltung bei virtuellen Treffen gehen">Gründe für Zurückhaltung bei virtuellen Treffen</a>
                  </li>
                  <li class="mr-3 mr-md-0">
                    <a href="#section2" class="nav-link fade-page px-0 py-2" title="Zum Abschnitt Eigenschaften virtueller Treffen im Vergleich zu Onsite-Treffen gehen">Eigenschaften virtueller Treffen im Vergleich zu Onsite-Treffen</a>
                  </li>
                  <li class="mr-3 mr-md-0">
                    <a href="#section3" class="nav-link fade-page px-0 py-2" title="Zum Abschnitt Sinnhaftigkeit / Angemessenheit virtueller Treffen gehen">Sinnhaftigkeit / Angemessenheit virtueller Treffen</a>
                  </li>
                  <li class="mr-3 mr-md-0">
                    <a href="#section4" class="nav-link fade-page px-0 py-2" title="Zum Abschnitt Tipps und Chancen für Organisatoren gehen">Tipps und Chancen für Organisatoren</a>
                  </li>
                  <li class="mr-3 mr-md-0">
                    <a href="#section5" class="nav-link fade-page px-0 py-2" title="Zum Abschnitt Grenzen und Gefahren gehen">Grenzen und Gefahren</a>
                  </li>
                  <li class="mr-3 mr-md-0">
                    <a href="#section6" class="nav-link fade-page px-0 py-2" title="Zum Fazit gehen">Fazit</a>
                  </li>
                </ol>
              </div>
            </div>

            <hr class="my-md-4 my-lg-5">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-xl-10">
            <article class="article">

              <h3 id="section1">Gründe für Zurückhaltung bei virtuellen Treffen</h3>
              <p>
                In Braunschweig ist die Aktivität in ehrenamtlich durchgeführten Community-Gruppen seit Anfang 2020 stark zurück&shy;gegangen. Dafür gibt es ganz unterschiedliche Gründe.
              </p>
              <p>
                Aufgrund der Ungewissheit, wie lange die Corona-bedingten Einschränkungen noch gelten, wollten einige Organisatoren das <mark>Ende der Pandemie abwarten</mark> und haben nicht damit gerechnet, dass sich die Lage über mehr als ein Jahr hält.
              </p>
              <p>
                In einigen Communities gab es bereits vorher schon <mark>andere umfangreiche Online-Angebote</mark>, welche durch lokal durchgeführte Treffen ergänzt wurden. Würden die lokalen Events zusätzlich online durchgeführt werden, wären sie eine Konkurrenz zu den bestehenden Angeboten.
              </p>
              <p>
                Besonders Gruppenevents mit eher weniger Teilnehmern legen viel Wert auf die <mark>wahrgenommene Geselligkeit</mark> der üblichen Treffen, welche sich nicht ohne Weiteres ins Digitale übertragen lässt. Das betrifft auch angeregte <mark>Diskussionen</mark>, die schon aufgrund der Verzögerung bei virtuellen Treffen schwieriger sind. Zusätzlich fehlen viele Kommunikationskanäle, wie Körper&shy;sprache oder Feinheiten in der Stimme, die häufig nicht übertragen werden.
              </p>
              <p>
                Zuletzt gibt es eine von Vielen wahrgenommene Müdigkeit, was virtuelle Meetings angeht – <mark>„Nicht noch ein Kopfhörer-Meeting“</mark>.
              </p>

              <!-- New Section -->
              <h3 id="section2" class="mt-4">Eigenschaften virtueller Treffen im Vergleich zu Onsite-Treffen</h3>
              <p>
                Organisatoren, die virtuelle Treffen als neue Formate für ihre Gruppen ausprobiert haben, berichten von unterschiedlichen Effekten.
              </p>
              <p>
                So gibt es bei vielen Online-Treffen <mark>Teilnehmer aus ganz Deutschland</mark>, anstatt nur aus Braunschweig.
              </p>
              <p>
                Die Zahl der Anmeldungen zu den Treffen ist teilweise gestiegen, jedoch gibt es teils <mark>deutlich mehr Anmeldungen als Teilnehmer</mark>. Vermutlich wird es als einfacher oder vertretbarer wahrgenommen, bei einem virtuellen Treffen spontan doch nicht teilzunehmen.
              </p>
              <p>
                Einige Teilnehmer scheinen sehr <mark>viel stärkeren Wert auf das Thema</mark> einer Veranstaltung zu legen und nur des Inhalts wegen teilzunehmen, weniger zum Netzwerken.
              </p>

              <!-- New Section -->
              <h3 id="section3" class="mt-4">Sinnhaftigkeit / Angemessenheit virtueller Treffen</h3>
              <p>
                Virtuelle Treffen funktionieren scheinbar besonders gut bei <mark>kleinen, sehr aktiven und untereinander bereits vernetzten Gruppen</mark>. Die größeren Gruppen sind aufgrund der meist hohen Teilnehmerzahl eher anonym und bieten als Hauptvorteil einen bekannten Speaker in der eigenen Stadt live zu sehen.

              </p>
              <p>
                Treffen, die besonders zum Vernetzen der Teilnehmer genutzt werden, können dieses Ziel eher weniger gut mit virtuellen Meetings erreiche: <mark>„Vortrag ist eine Sache, aber der Hallway-Track für den Austausch fällt digital fast komplett weg“</mark>.
              </p>

              <!-- New Section -->
              <h3 id="section4" class="mt-4">Tipps und Chancen für Organisatoren</h3>
              <p>Aus der Diskussion der Braunschweiger Gruppenorganisatoren haben wir nachfolgende Best Practices extrahiert.</p>
              <ul class="pl-3">
                <li>
                  Wie bei vielen Dingen ist auch bei Community-Veranstaltungen das <mark>Erwartungsmanagement</mark> sehr wichtig. So sollten Teilnehmer bereits vor dem Event eine gute Vorstellung darüber haben, was sie erwartet. Dies kann über eine textuelle Beschreibung auf der Webseite der Veranstaltung geschehen oder auch über einen (teilweisen) Mitschnitt einer Veranstaltung.
                </li>
                <li>
                  Ebenfalls vor der Veranstaltung sollte sich der <mark>Speaker</mark> auf das besondere Format vorbereiten. So hat sich ein <mark>Multi-Screen Setup</mark> bewährt. Mit mehreren Bildschirmen können die eigenen Folien, die Streams der Teilnehmer und sogar der Chat gleichzeitig eingesehen werden. Falls noch nicht eingeübt, sollte das vor dem Vortrag auf jeden Fall getestet werden.
                </li>
                <li>
                  Zu Beginn der Veranstaltung sollte das <mark>Format und der Ablauf</mark> durch den Organisator noch einmal erläutert werden, damit die Teilnehmer wissen, was sie erwartet. Auch die <mark>Agenda inklusive der behandelten Themen</mark> sollte kurz vorgestellt werden um „anzukommen“. Abhängig von der Größe der Runde und des gepflegten Umgangs miteinander kann auch eine <mark>Vorstellungsrunde aller Teilnehmer</mark> folgen. Der Organisator sollte sich selbst natürlich immer (kurz) vorstellen.
                </li>
                <li>
                  Dieser organisatorische Teil kann auch für die Bekanntmachung einiger Best Practices zum Umgang miteinander genutzt werden. So hilft es einem Speaker sehr, seine Zuhörer zu sehen. <mark>Eingeschaltete Webcams</mark> sind also keine Pflicht, aber guter Ton. Dies hat zum einen Grenzen bei sehr vielen Teilnehmern, da nicht alle Streams gleichzeitig gesehen werden können, und auch bei der Leistungsfähigkeit der verwendeten Infrastruktur. Notfalls müssen bei schwindender Audio- oder Bildschirmübertragungsqualität die Kameras wieder deaktiviert werden.
                </li>
                <li>
                  Für noch mehr Rückmeldung sorgt <mark>„Lach-Feedback“</mark> bei humorvollen Stellen des Vortrags. Hierfür kann man sich zum Beispiel als Teilnehmer selbst kurz unmuten, also sein Mikrophon einschalten, und (angemessen kurz) lachen. Eine zurückhaltendere Möglichkeit sind <mark>„Jazz-Hands“</mark>, das in der Webcam sichtbare Wedeln mit den Händen als Applaus-Ersatz. Doch auch ein simples Handzeichen, wie der schon weit bekannte <mark>„Daumen hoch“</mark>, der direkt vor die Webcam gehalten wird, kann dem Speaker sehr schnell und unkompliziert wichtige Fragen beantworten, wie zum Beispiel auf die Fragen „Könnt ihr mich hören und sehen? Sind meine Slides sichtbar?“.
                </li>
                <li>
                  Einer der wichtigsten wahrgenommenen Nachteile eines virtuellen Meetings im Vergleich zu Präsenzmeetings könnte mit der richtigen Vorbereitung tatsächlich ein Vorteil sein: <mark>Diskussionen</mark>. So kann bereits während eines Vortrags der <mark>Chat</mark> genutzt werden, um ein <mark>„Fragen-Backlog“</mark> aufzubauen, welches im Diskussionsteil direkt nach dem Vortrag für Interaktion genutzt werden kann. Als sehr hilfreich hat sich dabei ein <mark>Moderator</mark> herausgestellt, welcher den Chat beobachtet und auftauchende Fragen gleich nach Dringlichkeit bewertet und in Absprache mit dem Vortragenden einsteuert oder für die anschließende Diskussion notiert. Kommen keine Fragen während des Vortrags, können vom Organisator <mark>Initialfragen</mark> gestellt werden, um die Diskussion anzuregen – eine schon länger bekannte Praxis.
                </li>
                <li>
                  Ein weiteres Alleinstellungsmerkmal virtueller Treffen ist die Möglichkeit für <mark>Abstimmungen und Umfragen</mark>. Diese können zum Beispiel bei
                  <a href="https://www.mentimeter.com" target="_blank" title="Zu Mentimeter gehen">Mentimeter</a>, <a href="https://www.sli.do" target="_blank" title="Zu Slido gehen">Slido</a> und <a href="https://www.wooclap.com/de/" target="_blank" title="Zu Wooclap gehen">Wooclap</a> erstellt werden.
                </li>
                <li>
                  Mehr Aktivität der Teilnehmer kann durch eine künstliche Verkleinerung der Gruppe erreicht werden. So können <mark>Breakout-Sessions</mark> zum Arbeiten in Kleingruppen genutzt werden, was auch eher zurückhaltende Menschen einbezieht. Wer seine Teilnehmer dazu auf einer Karte wandern lassen möchte, sollte sich <a href="https://gather.town/" target="_blank" title="Zu Gather gehen">Gather</a> oder <a href="https://www.wonder.me" target="_blank" title="Zu Wonder gehen">Wonder</a> ansehen.
                </li>
              </ul>
              <p>
                Werden die hier vorgestellten Tools passend eingesetzt, sind viel interaktivere Vorträge möglich als bei reinen Live-Veranstaltungen. Technisch eher weniger versierten Speakern kann ein wenig <mark>Hilfe beim technischen Setup</mark> ebenfalls zu einem gelungenen Vortrag verhelfen.
              </p>

              <!-- New Section -->
              <h3 id="section5" class="mt-4">Grenzen und Gefahren</h3>
              <p>
                Generell herrschte in der Diskussionsrunde beim „IT-Hub Exchange“ eine sehr konstruktive und bezogen auf Online-Meetings neugierige Haltung, wie man an den vielen gesammelten Best Practices ablesen kann. Das soll aber nicht darüber hinwegtäuschen, dass solche Treffen natürlich ihre Grenzen haben.
              </p>
              <p>
                So wird ein Online-Vortrag, der <mark>komplett ohne Feedback seitens der Teilnehmer</mark> auskommen muss, als wirklich sehr ungünstig und sehr anstrengend empfunden. Klassische, physische Treffen geben am direktesten Feedback, da man die Teilnehmer direkt sieht. Bei virtuell durchgeführten Vorträgen stellt sich der Vortragende oft die implizite Frage <mark>„Was machen die gerade wirklich?“</mark>.
              </p>
              <p>
                Online-Schulungen werden schon seit Längerem durchgeführt, sodass es hier viel Erfahrungswerte gibt. Von Trainern wird zum Beispiel berichtet, dass im Vergleich zu Onsite-Treffen <mark>eher weniger Wissen vermittelt wird</mark>, die <mark>Diskussionen schwieriger</mark> sind und die <mark>Konzentration der Teilnehmer eher schwindet</mark>. Einige Dinge, wie <mark>„echte Diskussionen“</mark> mit gegenseitigen Unterbrechungen sind sogar nahezu unmöglich.
              </p>
              <p>
                Auch die Persönlichkeit der Teilnehmer spielt eine wichtige Rolle. So gehen zurückhaltende Menschen im Online-Setting eher unter und werden erst passiv, dann sogar teilnahmslos, ohne dass der Vortragende dies bemerkt.
              </p>

              <!-- New Section -->
              <h3 id="section6">Fazit</h3>
              <p>
                Remote Treffen werden zweifelsohne in Corona-Zeiten mehr genutzt. Das ist vermutlich ein bleibender Effekt. Richtig aufbereitet bieten solche Zusammenkünfte Möglichkeiten, die Onsite-Treffen nicht bieten können. Je nach Nutzung dieser Möglichkeiten ist jedoch eine andere Art der Vorbereitung notwendig. Online Treffen sind, wenn sie funktionieren, nicht nur eine gute Ergänzung zu klassischen Treffen, sondern schaffen sich ihren ganz eigenen Platz. Für einige Situationen sind sie dennoch kein vollwertiger, dauerhafter Ersatz.
              </p>
              <p class="lead">
                <b>
                  Wir hoffen, euch mit diesem Artikel neue Impulse für die Durchführung eurer virtuellen Gruppentreffen gegeben zu haben. Über Fragen, Anmerkungen und Feedback freuen wir uns und sind auf Twitter (<a href="https://twitter.com/ithubbs" target="_blank" title="Zum IT-Hub auf Twitter gehen">@ithubbs</a>) und per
                  <a href="mailto:vorstand@ithubbs.de" title="Sende eine E-Mail an den Vorstand">E-Mail</a> erreichbar.
                </b>
              </p>

            </article>
            <div class="mb-3 mb-sm-5"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="divider divider-bottom bg-primary"></div>
</section>
