
<section class="text-white pb-0 bg-gradient o-hidden">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-xl-8">
        <h1 class="display-3">Impressum</h1>

      </div>
    </div>
  </div>
  <div class="divider divider-bottom bg-white"></div>
</section>

<section class="pt-5 pb-0">
  <div class="container">
    <div class="row align-items-start justify-content-between">
      <div class="col-lg-12">

  <div class='impressum'>
    <p>Angaben gemäß § 5 TMG</p>
    <p><strong>IT Hub e.V.</strong> <br>
      Garßenhof 19<br>
      38259 Salzgitter <br>
  </p>
    <p> <strong>Vertreten durch: </strong><br>
      Steven Schwenke<br>
    Rebecca Husemann<br>
    Oliver Milke<br>
    Josha von Gizycki
  </p>

    <p>
      <strong>Registereintrag:</strong><br>
    Eintragung im Vereinsregister.<br>
    Registergericht: Braunschweig<br>
    Registernummer: VR 201868<br>
      <br>
    </p>

    <p><strong>Kontakt:</strong> <br>
      Telefon: 0151-17437348<br>
      E-Mail: <a href='mailto:vorstand@ithubbs.de' title="E-Mail an den Vorstand senden">vorstand@ithubbs.de</a><br></p>
    <br><br>

    <h2>Haftungsausschluss: </h2>
      <h3>Haftung für Inhalte</h3>
     <p>Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen.
      Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als
      Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit
      hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist
      jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
     </p><br>

      <h3>Haftung für Links</h3>
      <p>Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen.
      Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche
      Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete
      Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
      </p><br>

      <h2>Urheberrecht</h2>
      <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede
      Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind
      nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet.
      Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis.
      Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
      </p><br>

      <h2>Datenschutz</h2>
      <p>Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder
      eMail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben. <br>
      Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff
      durch Dritte ist nicht möglich. <br>
      Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien
      wird hiermit ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch
      Spam-Mails, vor.
      </p>
    <br>
      Impressum vom <a href="http://www.impressum-generator.de" title="Zur Website des Impressum Generators gehen">impressum-generator.de</a> der <a href="http://www.kanzlei-hasselbach.de/standorte/bonn/" title="Zur Website der Kanzlei Hasselbach gehen">Kanzlei Hasselbach Rechtsanwälte</a>
  </div>
      </div>
    </div>
  </div>
  <div class="divider divider-bottom bg-primary"></div>
</section>
