<section class="pb-0 pt-5 border-top" style="z-index: 2;">
  <div class="container">
    <div class="row section-title justify-content-center mb-0">
      <div class="col-md-9 col-lg-8 col-xl-12">

        <div class="row">
          <div class="col-md-9 col-lg-8 col-xl-2">
            <div>
              <a href="/admin/events">
                <img src="assets/images/icons/interface/icon-arrow-right.svg" alt="Twitter" class="icon icon-sm">
                Administer Events
              </a>
            </div>

          </div>
          <div class="col-md-9 col-lg-8 col-xl-3">
            <div>
              <a href="/admin/groups">
                <img src="assets/images/icons/interface/icon-arrow-right.svg" alt="Twitter" class="icon icon-sm">
                Administer Groups
              </a>
            </div>
          </div>

          <div class="col-md-9 col-lg-8 col-xl-7">
            <div>


              <p align="right">
                <button
                  id="logoutbutton"
                  (click)="logout()"
                  class="btn btn-dark btn-sm background-attention"
                  style="margin-right: 10px"
                >
              <span style="font-weight: bold">
              <fa-icon [icon]="faSignOutAlt"></fa-icon>
              Logout {{loginUser}}
              </span>
                </button>
              </p>
            </div>
          </div>

        </div>
        <hr>
        <p-toast></p-toast>

      </div>
      </div>

    <div class="row justify-content-center">
    <div class="col-md-9 col-lg-8 col-xl-12">
    <div class="text-center">
      <h1>Admin-Ansicht der Gruppen</h1>
      <p-overlayPanel
        #overlay
        [showCloseIcon]="true"
        [dismissable]="false"
        class="ui-overlay-wrapper">
        <h3>Neue Gruppe</h3>
        <form [formGroup]="newGroupForm" (ngSubmit)="onAddNewGroup($event, newGroupForm, overlay)">
          <div class="container">
            <label for="newGroupName" class="mt-2">Name</label>
            <p-message severity="error" text="darf nicht leer sein" *ngIf="!newGroupForm.controls['newGroupName'].valid&&newGroupForm.controls['newGroupName'].dirty"></p-message>
            <input class="col"
                   type="text"
                   id="newGroupName"
                   size="100"
                   formControlName="newGroupName"
                   title="Name"
                   placeholder="Pflichtfeld">

            <label for="newGroupURL" class="mt-2">URL</label>
            <p-message severity="error" text="darf nicht leer sein" *ngIf="!newGroupForm.controls['newGroupURL'].valid&&newGroupForm.controls['newGroupURL'].dirty"></p-message>
            <input class="col"
                   type="text"
                   id="newGroupURL"
                   size="300"
                   formControlName="newGroupURL"
                   title="URL"
                   placeholder="Pflichtfeld">

            <label for="newGroupDescription" class="mt-2">Beschreibung</label>
            <p-message severity="error" text="darf nicht leer sein" *ngIf="!newGroupForm.controls['newGroupDescription'].valid&&newGroupForm.controls['newGroupDescription'].dirty"></p-message>
            <input class="col"
                   type="text"
                   id="newGroupDescription"
                   size="2000"
                   formControlName="newGroupDescription"
                   title="Description"
                   placeholder="Pflichtfeld">

            <label for="logoUploaderNewGroup" class="mt-2">Logo</label>
            <p-fileUpload
              #logoUploaderNewGroup
              id="logoUploaderNewGroup"
              customUpload="true"
              (uploadHandler)="onUploadLogo($event)"
              accept="image/*"
              maxFileSize="10000000"
              invalidFileTypeMessageDetail="Nur Bilddateien erlaubt"
              auto="auto">
            </p-fileUpload>

            <button
              id="newGroupSubmitButton"
              class="btn btn-primary mt-3 mb-2" [disabled]="!newGroupForm.valid">
              Speichern
            </button>
          </div>
        </form>
      </p-overlayPanel>


      <button
        id="createNewGroupButton"
        (click)="overlay.toggle($event)"
        class="btn btn-primary">

        <span class="ml-2" style="font-weight: bold">
           <fa-icon [icon]="faPlus" class="mr-2"></fa-icon> Neue Gruppe anlegen
          </span>
      </button>
    </div>

    <table class="grouptable table table-responsive-md table-striped table-hover mt-5">
      <tr>
        <th>id</th>
        <th>Logo</th>
        <th>Name</th>
        <th>URL</th>
        <th>Beschreibung</th>
        <th>Statistiken</th>
        <th>Actions</th>
      </tr>

      <tr *ngFor="let group of groups">
        <td id="groupID_{{group.id}}" class="grouptableidcolumn">{{group.id}}</td>
        <td id="groupLogo_{{group.id}}"> <img *ngIf="group.imageURI" src="{{group.imageURI}}" height="50px"/> </td>
        <td id="groupName_{{group.id}}">{{group.name}}</td>
        <td id="groupURL_{{group.id}}"><a href="{{group.url}}" target="_blank">{{group.url}}</a></td>
        <td id="groupDescription_{{group.id}}">{{group.description}}</td>
        <td id="groupStats_{{group.id}}">
          {{group.totalNumberOfEvents}} Events organisiert.<br />
          <div *ngIf="group.totalNumberOfEvents > 0">
            Erstes Event {{group.daysPassedSinceFirstKnownEvent | dayRenderPipe}}.<br />
            Letztes Event {{group.daysPassedSinceLastKnownEvent | dayRenderPipe}}.
            <span *ngIf="group.daysPassedSinceLastKnownEvent > 90">
              <fa-icon class="attention" [icon]="faExclamationTriangle" pTooltip="Gruppe hat mehr als 90 Monate kein Event organisiert!"></fa-icon>
            </span>
            <br />
            Im Schnitt {{group.averageNumberOfEventsPerMonth}} Events pro Monat.
          </div>
        </td>
        <td>
          <div style="white-space: nowrap">
            <button
              id="editExistingGroupButton_{{group.id}}"
              (click)="onEditGroup($event, overlayEditGroup, editGroupForm, group)"
              class="btn btn-primary"
              style="margin-top: -5px">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>
            <button
              *ngIf="group.totalNumberOfEvents === 0"
              id="deleteExistingGroupButton_{{group.id}}"
              (click)="onDeleteGroup($event, overlayEditGroup, editGroupForm, group)"
              class="btn btn-primary background-attention"
              style="margin-top: -5px; margin-left: 10px">
              <fa-icon [icon]="faRadiation"></fa-icon>
            </button>
          </div>
        </td>
      </tr>
    </table>

            <p-confirmDialog id="confirmationDialog" header="DANGER ZONE" icon="pi pi-exclamation-triangle"></p-confirmDialog>

            <p-dialog
              #overlayEditGroup
              header="Gruppe editieren"
              [transitionOptions]="'0ms'"
              [(visible)]="displayGroupEditDialog">
              <form [formGroup]="editGroupForm" (ngSubmit)="onSaveEditedGroup($event, editGroupForm, overlayEditGroup)">
                <div class="container">
                  <input [hidden]="true"
                         formControlName="existingGroupId">
                  <label for="existingGroupName" style="margin-top: 10px">Name</label>
                  <p-message severity="error" text="darf nicht leer sein" *ngIf="!editGroupForm.controls['existingGroupName'].valid&&editGroupForm.controls['existingGroupName'].dirty"></p-message>
                  <input class="col"
                         type="text"
                         id="existingGroupName"
                         size="100"
                         formControlName="existingGroupName"
                         title="Name"
                         placeholder="Pflichtfeld">

                  <label for="existingGroupURL" style="margin-top: 10px">URL</label>
                  <p-message severity="error" text="darf nicht leer sein" *ngIf="!editGroupForm.controls['existingGroupURL'].valid&&editGroupForm.controls['existingGroupURL'].dirty"></p-message>
                  <input class="col"
                         type="text"
                         id="existingGroupURL"
                         size="300"
                         formControlName="existingGroupURL"
                         title="URL"
                         placeholder="Pflichtfeld">

                  <label for="existingGroupDescription" style="margin-top: 10px">Beschreibung</label>
                  <p-message severity="error" text="darf nicht leer sein" *ngIf="!editGroupForm.controls['existingGroupDescription'].valid&&editGroupForm.controls['existingGroupDescription'].dirty"></p-message>
                  <input class="col"
                         type="text"
                         id="existingGroupDescription"
                         size="2000"
                         formControlName="existingGroupDescription"
                         title="Description"
                         placeholder="Pflichtfeld">

                  <label for="logoUploaderExistingGroup" style="margin-top: 10px">Logo</label>
                  <p-fileUpload
                    #logoUploaderExistingGroup
                    id="logoUploaderExistingGroup"
                    customUpload="true"
                    (uploadHandler)="onUploadLogo($event)"
                    accept="image/*"
                    maxFileSize="10000000"
                    invalidFileTypeMessageDetail="Nur Bilddateien erlaubt"
                    auto="auto">
                  </p-fileUpload>

                  <button
                    id="existingGroupSubmitButton"
                    class="btn btn-primary" [disabled]="!editGroupForm.valid">
                    Speichern
                  </button>
                </div>
              </form>
            </p-dialog>
          </div>

    </div>
  </div>
</section>
