<div class="row justify-content-center">
  <!--<div class="col-sm-12 text-center">
    <div class="btn-group btn-group-toggle" role="group" aria-label="Select year">
      <span *ngFor="let year of years">
        <button id="yearFilter_{{year}}" type="button" class="btn btn-success" (click)="selectYear(year)">{{year}}</button>
      </span>
      <span>
        <button id="yearFilterFuture" type="button" class="btn btn-success" (click)="selectYear(0)">künftige</button>
      </span>
  </div>
</div>-->
  <div class="col-sm-12 mt-3">
  <!--<table class="table table-responsive-md table-striped table-hover">
    <thead>
    <tr>
      <th scope="col">Datum</th>
      <th scope="col">Gruppe</th>
      <th scope="col">Event</th>
    </tr>
    </thead>
    <tr *ngFor="let event of events">
      <td id="eventDate_{{event.id}}">{{event.datetime | date:'EEEE, dd.MM.yyyy HH:mm'}}</td>
      <td id="eventGroup_{{event.id}}"><a *ngIf="event.group" href="{{event.group.url}}" target="_blank" title="Zum Event gehen">{{event.group.name}}</a></td>
      <td>
        <a href="{{event.url}}" target="_blank" title="Zum Event gehen">{{event.name}}</a>
        <span *ngIf="event.generalPublic" pTooltip="Event ist nicht zu technisch und damit für die breite Öffentlichkeit geeignet." style="margin-left: 10px"><img src="/assets/images/public-interest-icon.png" width="20px"></span>
      </td>
    </tr>
  </table>-->

      <div class="tab-pane fade show">
        <div class="card">
          <div class="card-body">
            <table class="table table-responsive-md table-striped table-hover">
              <thead>
              <tr>
                <th scope="col">Datum</th>
                <th scope="col">Gruppe</th>
                <th scope="col">Thema/Event</th>
              </tr>
              </thead>
<!--                <tr>-->
<!--                  <td>30.11.2021, 19:00</td>-->
<!--                  <td>Linux am Dienstag</td>-->
<!--                  <td>-->
<!--                    <a href="https://marius.bloggt-in-braunschweig.de/linux-am-dienstag/" target="_blank" title="Zum Event gehen">Linux am-->
<!--                      Dienstag</a>-->
<!--                  </td>-->
<!--                </tr>-->
<!--              <tr>-->
<!--                <td>01.12.2021, 19:00</td>-->
<!--                <td>Freifunk Braunschweig</td>-->
<!--                <td>-->
<!--                  <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>-->
<!--                </td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>02.12.2021, 20:00</td>-->
<!--                <td>Digitalcourage Braunschweig</td>-->
<!--                <td>-->
<!--                  <a href="https://stratum0.org/wiki/Digitalcourage_Braunschweig" target="_blank" title="Zum Event gehen">Offenes-->
<!--                    Ortsgruppentreffen (online)</a>-->
<!--                </td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>07.12.2021, 19:00</td>-->
<!--                <td>Linux am Dienstag</td>-->
<!--                <td>-->
<!--                  <a href="https://marius.bloggt-in-braunschweig.de/linux-am-dienstag/" target="_blank" title="Zum Event gehen">Linux am-->
<!--                    Dienstag</a>-->
<!--                </td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>08.12.2021, 19:00</td>-->
<!--                <td>Freifunk Braunschweig</td>-->
<!--                <td>-->
<!--                  <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>-->
<!--                </td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>14.12.2021, 19:00</td>-->
<!--                <td>Linux am Dienstag</td>-->
<!--                <td>-->
<!--                  <a href="https://marius.bloggt-in-braunschweig.de/linux-am-dienstag/" target="_blank" title="Zum Event gehen">Linux am-->
<!--                    Dienstag</a>-->
<!--                </td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>14.12.2021, 19:00</td>-->
<!--                <td>Vorträge im Stratum0</td>-->
<!--                <td>-->
<!--                  <a href="https://stratum0.org/wiki/Vortr%C3%A4ge" target="_blank" title="Zum Event gehen">Vorträge im Stratum0</a>-->
<!--                </td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>15.12.2021, 19:00</td>-->
<!--                <td>Freifunk Braunschweig</td>-->
<!--                <td>-->
<!--                  <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>-->
<!--                </td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>21.12.2021, 19:00</td>-->
<!--                <td>Linux am Dienstag</td>-->
<!--                <td>-->
<!--                  <a href="https://marius.bloggt-in-braunschweig.de/linux-am-dienstag/" target="_blank" title="Zum Event gehen">Linux am-->
<!--                    Dienstag</a>-->
<!--                </td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>16.11.2021, 19:00</td>-->
<!--                <td>Linux am Dienstag</td>-->
<!--                <td>-->
<!--                  <a href="https://marius.bloggt-in-braunschweig.de/linux-am-dienstag/" target="_blank" title="Zum Event gehen">Linux am-->
<!--                    Dienstag</a>-->
<!--                </td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>17.11.2021, 19:00</td>-->
<!--                <td>Freifunk Braunschweig</td>-->
<!--                <td>-->
<!--                  <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>-->
<!--                </td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>18.11.2021, 20:00</td>-->
<!--                <td>Digitalcourage Braunschweig</td>-->
<!--                <td>-->
<!--                  <a href="https://stratum0.org/wiki/Digitalcourage_Braunschweig" target="_blank" title="Zum Event gehen">Offenes-->
<!--                    Ortsgruppentreffen (online)</a>-->
<!--                </td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>23.11.2021, 19:00</td>-->
<!--                <td>Linux am Dienstag</td>-->
<!--                <td>-->
<!--                  <a href="https://marius.bloggt-in-braunschweig.de/linux-am-dienstag/" target="_blank" title="Zum Event gehen">Linux am-->
<!--                    Dienstag</a>-->
<!--                </td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>24.11.2021, 19:00</td>-->
<!--                <td>Braunschweig Toastmasters</td>-->
<!--                <td>-->
<!--                  <a href="https://tmclub.eu/view_agenda.php?t=159738" target="_blank" title="Zum Event gehen">BS Speaks</a>-->
<!--                </td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>24.11.2021, 19:00</td>-->
<!--                <td>Freifunk Braunschweig</td>-->
<!--                <td>-->
<!--                  <a href="https://freifunk-bs.de/" target="_blank" title="Zum Event gehen">Freifunk-Sprechstunde und Technik-Workshop</a>-->
<!--                </td>-->
<!--              </tr>-->

            </table>
          </div>
        </div>
      </div>

</div>
</div>
