/* selected btn css */
/*.btn-group-toggle .btn:not(:disabled):not(.disabled).active, .btn-group-toggle .btn:not(:disabled):not(.disabled):active, .show>.btn.dropdown-toggle {
  color: #fff;
  background-color: #69a17c;
  border-color: #237c4c;
}*/

/* non selected btn css */
/*.btn-group-toggle .btn {
  color: #fff;
  background-color: #b7b7b7;
  border-color: #6c757d;
}*/
.btn-group > span:not(:last-child) .btn,
.btn-group > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.btn-group > span:not(:first-child) .btn,
.btn-group > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group > li span:not(:last-child) .btn,
.btn-group > li .btn-group:not(:last-child) > .btn,
.btn-group > li:first-child .btn[data-toggle="tab"]{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.btn-group > li span:not(:first-child) .btn,
.btn-group > li .btn-group:not(:first-child) > .btn,
.btn-group > li:last-child .btn[data-toggle="tab"] {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;}

.btn-group > li .btn[data-toggle="tab"][aria-selected="false"]{
  background-color: rgba(11, 110, 56, .8);
  border-color: rgba(11, 110, 56, .8);
  color: #fff;}

.btn-group > li .btn[data-toggle="tab"][aria-selected="true"]{
  background-color: rgb(11, 110, 56);
  border-color: rgb(11, 110, 56);
  color: #fff;}
