<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card mb-2 mb-md-3">
          <div class="d-lg-flex justify-content-between align-items-center p-3 p-md-4 d-xs-block text-xs-left text-lg-center">
            <div class="rounded p-4 bg-primary-alt mr-lg-5 mb-3 mb-lg-0 mw-lg-400">
                <h5 class="m-0 text-success">Online-Events</h5>
            </div>
            <div class="text-left">Viele Präsenz-Veranstaltungen werden zur Zeit auf online-Meetings umgestellt. In unserer Event-Tabelle, siehe oben, führen wir die von der IT-Community Braunschweigs organisierten digitalen Treffen ebenfalls auf.</div>
            </div>
        </div>
        <div class="card mb-2 mb-md-3">
          <div class="d-lg-flex justify-content-between align-items-center p-3 p-md-4 d-xs-block text-xs-left text-lg-center">
            <div class="rounded p-4 bg-primary-alt mr-lg-5 mb-3 mb-lg-0 mw-lg-400">
                <h5 class="m-0 text-success">Persönliche Gesichtsschild Produktion</h5>
            </div>
            <div class="text-left">#makersvsvirus wird auch im Raum Braunschweig gelebt. Ihr könnt für die Produktion von Gesichtsschildern für Krankenhäuser, Altenheime, Arztpraxen etc. spenden.
                <br>
                <a href="https://www.paypal.com/pools/c/8nIcxOA4h8" target="_blank" title="An #makersvsvirus spenden">Jetzt spenden!</a>
            </div>
          </div>
        </div>
        <div class="card mb-2 mb-md-3">
          <div class="d-lg-flex justify-content-between align-items-center p-3 p-md-4 d-xs-block text-xs-left text-lg-center">
            <div class="rounded p-4 bg-primary-alt mr-lg-5 mb-3 mb-lg-0 mw-lg-400">
                <h5 class="m-0 text-success">Selbstlernkurse for free</h5>
            </div>
            <div class="text-left">Mit dem Rabattcode "elearning" stehen bis zum 15.03. alle Selbstlernkurse kostenfrei zur Verfügung. So kann man die Zeit in der Quarantäne sinnvoll nutzen.
                <br>
                <a href="https://www.oncampus.de/weiterbildung/selbstlernkurse" target="_blank" title="Zum Selbstlernkurs gehen">Zum Selbstlernkurs.</a></div>
            </div>
        </div>
        <div class="card mb-2 mb-md-3">
            <div class="d-lg-flex justify-content-between align-items-center p-3 p-md-4 d-xs-block text-xs-left text-lg-center">
              <div class="rounded p-4 bg-primary-alt mr-lg-5 mb-3 mb-lg-0 mw-lg-400">
                  <h5 class="m-0 text-success">#wirvsvirus - Der Hackathon der Bundesregierung</h5>
              </div>
              <div class="text-left">Während eines Hackathons wurden viele Lösungsansätze entwickelt, die nun umgesetzt werden müssen.<br>
                  <a href="https://wirvsvirushackathon.org" target="_blank" title="Zum Hackathon gehen">Zum Hackathon.</a>
              </div>
            </div>
        </div>
    </div>
  </div>
  <div class="row justify-content-center mt-4 mt-md-5">
    <div class="col-auto">
      <div class="alert bg-success text-white">Du kennst du weitere Aktionen, die hier aufgeführt werden sollten? <a class="text-primary" href="mailto:steven@stevenschwenke.de" title="Schreibe uns eine E-Mail">Dann melde dich bei uns</a>!
      </div>
    </div>
  </div>
