.intro {
  background-image: url(/assets/images/index/BarcampIntro.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: left;
}

.intro .divider{
  z-index: 50;
}

@media (max-width: 1500px) {
.intro {
 background-size: 65%;
 background-position: -20%;
 }
}

@media (max-width: 1200px) {
.intro {
 background-image: url(/assets/images/index/BarcampIntroMobile.jpg);
 background-size: cover !important;
 background-position: center;
 background-color: #9bc325;
 }

 .intro h1, .intro p{
  color: white !important;
  z-index: 25;
  position: relative;
  text-align: center;
 }
}

@media (max-width: 720px){
.intro{
background-size: contain;
}
}
