
<section class="pb-0 intro" >
  <div class="container">
    <div class="row align-items-center justify-content-center justify-content-lg-between text-center text-lg-left flex-lg-row-reverse">
      <div class="text-lg-white col-lg-12 col-xl-4 mb-4 mb-lg-0 pr-lg-5 pr-xl-0">
        <div>
          <h1 class="display-3 text-success">Willkommen beim <mark>IT-Hub Braunschweig</mark>!</h1>
          <p class="lead">Der IT-Hub Braunschweig unterstützt die aktive Entwickler-Community im lebendigen, sich entwickelnden
            IT-Zentrum Braunschweig.
          </p>

        </div>
      </div>
      <div class="col-md-9 col-xl-8">

      </div>
    </div>
  </div>
  <div class="divider divider-bottom bg-light"></div>
</section>
<section class="bg-light pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4 mb-md-0">
        <div>
          <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" class="injected-svg icon icon-lg bg-success" aria-labelledby="direction" role="img">
            <title id="direction">Icon – Darstellung eines Wegweisers</title>
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g>
                  <rect fill="#000000" x="10.664" y="9.842" width="2.762" height="1.871"/>
                  <path fill="#000000" d="M13.426,3.197v-0.92c0-0.763-0.617-1.381-1.381-1.381c-0.763,0-1.381,0.618-1.381,1.381v0.92H13.426z"/>
                  <path fill="#000000" d="M10.664,18.357v3.365c0,0.764,0.618,1.381,1.381,1.381c0.764,0,1.381-0.617,1.381-1.381v-3.365H10.664z"/>

                <path fill="#000000" opacity="0.3" d="M6.953,11.712c-0.389,0-0.776,0-1.165,0c-0.283,0-0.635-0.059-0.894,0.07
		c-0.533,0.266-1.019,0.703-1.508,1.043l-1.584,1.098c-0.885,0.611-0.885,1.615,0,2.229l1.585,1.098
		c0.351,0.242,0.701,0.488,1.052,0.729c0.363,0.25,0.623,0.381,1.067,0.379c0.483-0.002,0.965,0,1.447,0h9.004
		c1.075,0,1.956-0.881,1.956-1.957v-2.732c0-1.074-0.881-1.956-1.956-1.956H6.953z"/>
                <path fill="#000000" opacity="0.3" d="M17.048,3.197c0.48,0,0.961-0.006,1.438-0.002c0.811,0.007,1.495,0.678,2.127,1.115l1.586,1.098
		c0.884,0.612,0.884,1.615,0,2.229l-1.586,1.098c-0.529,0.367-1.008,0.886-1.648,1.057c-0.59,0.158-1.31,0.051-1.917,0.051H8.043
		c-1.076,0-1.957-0.881-1.957-1.957V5.153c0-1.076,0.881-1.956,1.957-1.956H17.048z"/>
              </g>
            </g>
          </svg>
          <h5 class="mt-4">Überblick</h5>
          <div>
            Wir bieten einen Überblick über die Community-Gruppen und ihre Aktivitäten.
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div>
          <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" class="injected-svg icon icon-lg bg-success" data-src="../assets/img/icons/theme/general/binocular.svg" aria-labelledby="crown" role="img">
            <title id="crown">Icon – Darstellung einer Krone</title>
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <rect fill="#000000" x="3.037" y="17.519" width="17.88" height="1.718"/>
              <path fill="#000000" opacity="0.3" d="M21.456,17.519H2.498c-0.281,0-0.51-0.328-0.51-0.734c0-0.409,0.229-0.737,0.51-0.737h18.958
		c0.281,0,0.51,0.328,0.51,0.737C21.966,17.19,21.737,17.519,21.456,17.519z"/>
              <path fill="#000000" opacity="0.3" d="M21.456,20.708H2.498c-0.281,0-0.51-0.329-0.51-0.735s0.229-0.736,0.51-0.736h18.958
		c0.281,0,0.51,0.33,0.51,0.736S21.737,20.708,21.456,20.708z"/>
              <circle fill="#000000" opacity="0.3" cx="11.977" cy="4.616" r="1.379"/>
              <circle fill="#000000" opacity="0.3" cx="22.191" cy="5.062" r="1.378"/>
              <circle fill="#000000" opacity="0.3" cx="1.704" cy="5.063" r="1.379"/>
              <path fill="#000000" d="M22.587,6.781c-0.006,0.004-0.008,0.008-0.012,0.011c-0.055-0.158-0.179-0.291-0.354-0.332
		c-0.273-0.064-0.613,0.381-0.613,0.381l-2.775,3.638c0,0-0.098,0.131-0.269,0.313c-1.351,1.005-2.777,1.468-4.069,0.387
		c-0.211-0.195-0.422-0.416-0.635-0.7l0.935-1.524c-1.58-1.989-2.196-2.973-2.821-2.957c-0.623-0.016-1.238,0.968-2.82,2.957
		l0.936,1.524c-0.213,0.284-0.424,0.505-0.635,0.7c-1.292,1.081-2.719,0.618-4.069-0.387c-0.171-0.183-0.269-0.313-0.269-0.313
		L2.341,6.841c0,0-0.338-0.445-0.613-0.381C1.552,6.501,1.431,6.634,1.375,6.792c-0.002-0.003-0.007-0.007-0.01-0.011l0.004,0.022
		C1.367,6.806,1.365,6.807,1.364,6.811l0.12,0.813l1.507,8.424h0.031c2.979,0,5.958,0,8.937,0c0.012,0,0.021,0,0.031,0h8.938h0.031
		l1.508-8.424l0.12-0.813c-0.002-0.003-0.004-0.004-0.006-0.007L22.587,6.781z"/>
            </g>
          </svg>
          <h5 class="mt-4">Förderung</h5>
          <div>
            Die Bildung neuer Gruppen, Veranstaltungsformate und Ideen wird durch uns unterstützt.
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div>
          <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
               class="injected-svg icon icon-lg bg-success" aria-labelledby="thumbsup" role="img">
            <title id="thumbsup">Icon – Darstellung einer Hand mit dem Daumen nach oben</title>
            <g>
              <path fill="#000000" d="M17.672,20.302c0.341-0.19,0.648-0.429,0.886-0.712c0.525-0.627,0.249-1.271,0.238-1.989
		c-0.012-0.802,0.5-0.623,0.902-1.248c1.614-2.508-0.718-2.815,0.057-4.17c0.36-0.629,0.998-0.976,0.996-1.784
		c-0.007-1.97-2.056-2.707-3.699-2.707l-5.667,0.603c0.145-1.089,0.674-3.2,0.257-4.298c-0.35-0.922-1.369-1.371-2.295-1.253
		c-1.674,0.212-1.971,2.28-2.392,3.594c-0.383,1.195-0.767,2.39-1.151,3.584C5.34,10.05,5,10.475,5,10.979l1.096,8.764
		c0,0.606,0.49,1.096,1.096,1.096c2.821,0,5.671,0.125,8.487,0.021C16.325,20.837,17.057,20.646,17.672,20.302z"/>
              <path fill="#000000" opacity="0.3" d="M4.186,21.274c-0.503,0.009-0.943-0.363-1.008-0.874l-1.086-8.546c-0.07-0.547,0.318-1.048,0.866-1.118
		c0.541-0.073,1.048,0.317,1.118,0.866l1.087,8.546c0.07,0.548-0.318,1.048-0.866,1.118C4.259,21.271,4.223,21.273,4.186,21.274z"/>
            </g>
          </svg>
          <h5 class="mt-4">Selbstbewusstsein</h5>
          <div>
            Unsere Plattform stärkt das verdiente Selbstvertrauen der IT-Community Braunschweigs.
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<!--<section class="pb-5">-->
<!--  <div class="container">-->
<!--    <div class="row section-title justify-content-center">-->
<!--      <div class="col-md-9 col-lg-8 col-xl-12 mb-5 text-center">-->
<!--        <h2 class="display-4 text-success">Aktuelle Veranstaltungen</h2>-->
<!--        <div class="lead">Hier findest du eine Übersicht der anstehenden Veranstaltungen aller Gruppen in Braunschweig.</div>-->
<!--      </div>-->
<!--      <div class="col-md-9 col-lg-8 col-xl-12">-->
<!--        <app-upcoming-events></app-upcoming-events>-->
<!--        &lt;!&ndash;<hr>&ndash;&gt;-->
<!--        <div class="row mb-5 text-center" *ngIf="eventStatistics">-->
<!--          <div class="col-sm-12 col-md-4 mb-3 mb-md-0">-->
<!--            <div class="h2 text-primary mb-2">{{eventStatistics.averageNumberOfEventsPerMonth}}</div>-->
<!--            <h6 class="mb-0">⌀ Events pro Monat</h6>-->
<!--          </div>-->
<!--          <div class="col-sm-12 col-md-4 mb-3 mb-md-0">-->
<!--            <div class="h2 text-primary mb-2">{{eventStatistics.numberOfFutureEvents}}</div>-->
<!--            <h6 class="mb-0">Anstehende Events</h6>-->
<!--          </div>-->
<!--          <div class="col-sm-12 col-md-4 mb-3 mb-md-0">-->
<!--            <div class="h2 text-primary mb-2">{{eventStatistics.totalNumberOfEvents}}</div>-->
<!--            <h6 class="mb-0">Events insgesamt</h6>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="row justify-content-center mt-4 mt-md-5">-->
<!--          <div class="col-auto">-->
<!--            <div class="alert bg-success text-white">Du möchtest mehr sehen? <a class="text-primary" routerLink="/events" title="Zur kompletten Eventübersicht gehen">Hier findest du die komplette Veranstaltungsliste</a>!-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--</section>-->

<section class="pb-0">
  <div class="container">
    <div class="row section-title justify-content-center text-center">
      <div class="col-xl-12">
        <h3 class="display-4 text-success">Corona-Spezial</h3>
        <div class="lead">Hier findest du aktuelle Aktionen aus der IT-Community rund um das Thema Corona-Virus.</div>
      </div>
    </div>
    <app-current-campaigns></app-current-campaigns>

  </div>
  <div class="divider divider-bottom bg-primary"></div>
</section>
