<section class="text-white pb-0 bg-gradient o-hidden">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-xl-10">
        <h1 class="display-3">Wissen</h1>
        <p class="lead mb-0">Tipps & Tricks für die IT-Community</p>

      </div>
    </div>
  </div>
  <div class="divider divider-bottom bg-white"></div>
</section>

<section class="pb-0">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-md-6 mb-3 mb-sm-5">
        <div class="card card-body hover-box-shadow">
          <div>
            <!--<div class="text-muted mb-3">10. Oktober 2021</div>-->
            <a href="/knowledge-virtual-meetings" title="Lies jetzt den Artikel">
              <h3 class="h2">Virtuell durchgeführte Community-Treffen</h3>
            </a>
            <p>
              Best Practices und Tipps für virtuelle Treffen, Betrachtung der Unterschiede zu Onsite-Treffen und Chancen für Organisatoren.
            </p>
            <a href="/knowledge-virtual-meetings" class="stretched-link" title="Lies jetzt den Artikel">Artikel lesen</a>
          </div>
        </div>
      </div>
      <!--
      <div class="col-md-6 mb-3 mb-sm-5">
        <div class="card card-body hover-box-shadow">
          <div>

            <a href="/knowledge-article">
              <h3 class="h2">Unveiling our new vision</h3>
            </a>
            <p>
              Volantis vitae unuch sed velit sodales. Sandor imperdiet proin fermentum leo vel Hodor.
            </p>
            <a href="/knowledge-article" class="stretched-link">Read Story</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3 mb-sm-5">
        <div class="card card-body hover-box-shadow">
          <div>

            <a href="#">
              <h3 class="h2">Unveiling our new vision</h3>
            </a>
            <p>
              Volantis vitae unuch sed velit sodales. Sandor imperdiet proin fermentum leo vel Hodor.
            </p>
            <a href="/knowledge-article" class="stretched-link">Read Story</a>
          </div>
        </div>
      </div>
      -->
    </div>
  </div>

  <div class="divider divider-bottom bg-primary"></div>
</section>

