
<h2 class="text-success">Regeltermine</h2>
<p class="mb-5">
Hier findest du eine Übersicht über die Regeltermine der verschiedenen Gruppen.<br>Einige Gruppen treffen sich jedoch unregelmäßig.
</p>
<table class="table table-responsive bg-white">
  <thead>
  <tr>
    <th>Montag</th>
    <th>Dienstag</th>
    <th>Mittwoch</th>
    <th>Donnerstag</th>
    <th>Freitag</th>
    <th>Samstag</th>
    <th>Sonntag</th>
  </tr>
  </thead>

    <tr>
        <td>
            <!-- Montag -->
          -
        </td>
        <td>
            <!-- Dienstag -->
            letzter im Monat: <br><a href="https://hacktalk.de/" target="_blank" title="Zur Website des HackTalk gehen">HackTalk Braunschweig</a>, <br>17:00 - 19:00
        </td>
        <td>
            <!-- Mittwoch -->
            jeden: <br><a href="https://freifunk-bs.de" target="_blank" title="Zur Website des Freifunk Braunschweig gehen">Freifunk-Treffen</a>, <br>ab 19:00<br><br>
            jeden 3.: <br><a href="https://www.meetup.com/de-DE/GDG-Braunschweig/" target="_blank" title="Zur Website des GDG Braunschweig Meetup gehen">GDG Braunschweig</a><br><br>
            jeden letzten: <br><a href="https://www.meetup.com/de-DE/Braunschweig-C-Meetup/" target="_blank" title="Zur Website des Braunschweig C++ Meetup gehen">Braunschweig C++ Meetup</a>
        </td>
        <td>
            <!-- Donnerstag -->
            2. im Monat: <br><a href="http://www.jug-ostfalen.de" target="_blank" title="Zur Website der JUG Ostfalen gehen">JUG Ostfalen Vortrag</a>, <br>19:00
        </td>
        <td>
            <!-- Freitag -->
          -
        </td>
        <td>
            <!-- Samstag -->
            vorletzter im Monat: <br><a href="https://stratum0.org/wiki/CoderDojo" target="_blank" title="Zur Website des Coder Dojo gehen">Coder Dojo Stratum0</a>, <br>14:00 - 17:00
        </td>
        <td>
            <!-- Sonntag -->
          -
        </td>
</table>
