<section class="pb-0 border-top">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-4 col-lg-5 col-md-6">
        <div class="card card-body shadow">
          <h1 class="h5 text-center">Sign In</h1>
          <p-toast></p-toast>
          <form (ngSubmit)="onLogin(f)" #f="ngForm">
            <div class="form-group">
              <label for="username">Username</label>
              <input class="col form-control"
                     type="text"
                     id="username"
                     size="30"
                     pInputText name="username"
                     title="Benutzername"
                     autocomplete="username"
                     ngModel>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input class="col form-control"
                     type="password"
                     id="password"
                     size="30"
                     pInputText name="password"
                     title="Passwort"
                     autocomplete="current-password"
                     ngModel>
            </div>
            <button id="loginbutton" class="btn btn-primary btn-block">
              Login
            </button>
          </form>
        </div>

      </div>
    </div>
    <div class="row section-title justify-content-center mb-5">
      <div class="col-md-9 col-lg-8 col-xl-12">



      </div>
    </div>
  </div>
</section>

